<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-20-2025</span>
    <a href="https://d10x.co/BingoBlitz/z502b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-20-2025</span>
    <a href="https://d10x.co/BingoBlitz/SS3D1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-20-2025</span>
    <a href="https://d10x.co/BingoBlitz/BnGWc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-19-2025</span>
    <a href="https://d10x.co/BingoBlitz/l82Qw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-19-2025</span>
    <a href="http://d10x.co/BingoBlitz/XEoAU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-19-2025</span>
    <a href="https://d10x.co/BingoBlitz/941gF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-19-2025</span>
    <a href="https://d10x.co/BingoBlitz/8u8MZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-18-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=52b747f84263ee681147d4cdab8a01fa950dc4814126daa489a03b57a5fd6a4b&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46071&gameref=FBS_180325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-17-2025</span>
    <a href="https://d10x.co/BingoBlitz/aDtLf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-17-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=482eac6bfb69d1307016be19b4b21e8645bcdca3d5e9cfd84264ece16232a44a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45959&gameref=180325&fbclid=PAY2xjawJFKqdleHRuA2FlbQIxMAABpn6ITkLDH1fpWLp1nYp1QdCY1R4Mr-awDYSWC253QQ-mWTo_BJTP36ZaUQ_aem_8gcU4jcMoEVDI89M70krUQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-17-2025</span>
    <a href="https://d10x.co/BingoBlitz/CXgHC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-17-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=2e93d6c363008c0653263e8213d09e7e16bd72a1cef836bbb650efeaeeb9f98c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46069&gameref=FBS_170325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-16-2025</span>
    <a href="https://d10x.co/BingoBlitz/OpHWq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-16-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=ed586bef288f440be981483c211dc0b90df871682abc6ce7e8e7b0f0e9b64866&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46068&gameref=FBS_160325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-15-2025</span>
    <a href="https://d10x.co/BingoBlitz/4Lihd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-15-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=a5cfbe26e47b05c97b405e6bf0d6648053909b30433133c0c9b20d437e8ee8f1&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46052&gameref=FBS_150325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-14-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=a420719592c936912af9c398307c246103a9ab378666238271c787698cd01626&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46051&gameref=FBS_140325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-14-2025</span>
    <a href="https://d10x.co/BingoBlitz/J9r8d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-13-2025</span>
    <a href="https://d10x.co/BingoBlitz/MsNJh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-13-2025</span>
    <a href="http://d10x.co/BingoBlitz/EXC01" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-13-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=17c4b0537822323fd4b8702112d4b043108d46ec5542d5c593969c2464f7c933&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46050&gameref=FBS_130325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-12-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=7645983964bb7f3493e0d36de4ca35d72bf3a534b7fbe0c81097334254589e42&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45957&gameref=IG+130326" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-12-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=5039d91fe559b708701b5a97b312d074b74b192adc626639217ff51a423abef7&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46035&gameref=FBS_120325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-12-2025</span>
    <a href="https://d10x.co/BingoBlitz/lI1oe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-12-2025</span>
    <a href="https://d10x.co/BingoBlitz/qBcyZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-12-2025</span>
    <a href="https://d10x.co/BingoBlitz/ZMyUk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-12-2025</span>
    <a href="https://d10x.co/BingoBlitz/Jku9K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-11-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=799b2a4c92dcb29d25773c2b75c9562054160011ad3e777dfb728512a1e11ce0&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46034&gameref=FBS_110325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-10-2025</span>
    <a href="https://d10x.co/BingoBlitz/54Cn9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-10-2025</span>
    <a href="https://d10x.co/BingoBlitz/ESTk8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-10-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=d7b4dbbfe316254bc1ba326154c6132491501bcb5e2cd2e0a09fc0ab9f89576c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45956&gameref=IG+110325&fbclid=PAY2xjawI7zIlleHRuA2FlbQIxMAABpgKu5o2fJdSZn8osm-WS-U2l88MMstnQrtr8gkxHhzR-XSVIsQX6nmvIHw_aem_pIXeAaN8TiVRqwObEjyi7w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-10-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=d7b4dbbfe316254bc1ba326154c6132491501bcb5e2cd2e0a09fc0ab9f89576c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45956&gameref=IG+110325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-09-2025</span>
    <a href="https://d10x.co/BingoBlitz/KOHe6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-09-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=16be5a65a5fe7233b50e252cb08bde05ac4b39eae40581c7bf47990aeb8a2b84&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46032&gameref=FBS_090325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-09-2025</span>
    <a href="https://d10x.co/BingoBlitz/zntfB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://d10x.co/BingoBlitz/Ov9it" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=88a7e460663c010442f77714a5edde0489dc29e194de72502f3f100cdd8a8487&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46023&gameref=FBS_080325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-02-2025</span>
    <a href="https://d10x.co/BingoBlitz/HTqzF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=717879b55e8957f821eb758cfd7d54e7a0905298ee143c74b09c79209dc6beb9&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46022&gameref=FBS_060325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=7e6dc89a5c15b5360415916e20af10101f572d7dd47355c4d1edd8d79ccf8b5f&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46017&gameref=tw+060325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://d10x.co/BingoBlitz/oxZmj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=189c37bbf04f1fdd55f804173a9cbb8bc52d88b47b2b2c3e8928a2458bc885a8&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46014&gameref=FBS_050325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=01c56eeecb93483182c1276e72e5a999a2da534d6e617939f3a9a48f9f53674e&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46009&gameref=YT_040325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=3cf08ae399bcef1a650f21f3fc029dd96fa6625a82b664b35f221f63702a0c78&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=46010&gameref=FBS_040325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f469abcb79cbcc902a8e4e256dd568796475052df86441118cf9a716c603eed5&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45954&gameref=IG+040325&fbclid=PAY2xjawIz3O9leHRuA2FlbQIxMQABpkIigGpeWKovOcWmX5bB7jo70zzitnabbaKYMa5kyYLuYC43LzDJfVKMcQ_aem_VYgTcGPAmoPXXk0hoWXVdQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://d10x.co/BingoBlitz/4L2dk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=fc309b485b797d1a561ab5469ad5ff9bae8eb7589d2799fdc6487d482ff64c0a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45991&gameref=FBS_030325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://d10x.co/BingoBlitz/LzvYy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-08-2025</span>
    <a href="https://d10x.co/BingoBlitz/4Z416" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-02-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=390690d5f587da99d3f63e2e2f9cc8092f752dc66ace1c81d7fd70a042a3d169&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45990&gameref=FBS_020325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-01-2025</span>
    <a href="https://d10x.co/BingoBlitz/QTv1w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 03-01-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=dfd46f3d3452f7cd409d8b04225b88109c23c7a24702569fbd44ab3c64175c26&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45984&gameref=FBS_010325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-28-2025</span>
    <a href="https://d10x.co/BingoBlitz/Lvyxu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-28-2025</span>
    <a href="https://d10x.co/BingoBlitz/UdSLN?fbclid=IwY2xjawIut8dleHRuA2FlbQIxMQABHeFSipMiQe7ZmpxOYjXzKaVK0TTxt7LLG5RVXNpiCnyodumYsKvI2gV0pA_aem_98uycU-UnZ6Q9hg_jFKoTA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-28-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=b9c72b160cb982a5edf00fd8fd1ef2883b5575a873a7b8df0e8fa077" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-28-2025</span>
    <a href="https://d10x.co/BingoBlitz/weQ7j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-27-2025</span>
    <a href="https://d10x.co/BingoBlitz/fv6uU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-27-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=ac7e57be0b565b9b2527828121118f1f8f676375a95b3abda29f0466d4a696d6&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45952&gameref=tw+270225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-27-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=0b8929b7e73b46bbb4345ae658cfbecd1ff43ce264f384bd96f57a44d7b2693b&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45976&gameref=FBS_270225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-25-2025</span>
    <a href="https://d10x.co/BingoBlitz/aurK0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-25-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=8d23ee4d1a75ed9fbe7fbcf4a0ea2b0dd85f96afa4688056db72606fd93b91ba&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45799&gameref=IG+25.02.2025&fbclid=PAY2xjawIq2L5leHRuA2FlbQIxMQABpuwZS_IKDsWmVPGcj35FFAGgQR8pec-HYFJOEoeve6gPj91cRB9wAW2RAg_aem_lAVHMixHU3vqsugoTvM3Uw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-25-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=4356f8048420b3090e30e1e9213137c3eb6ad0f48466fefa1f4a1fa6b79807e2&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45941&gameref=FBS_250225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-24-2025</span>
    <a href="https://d10x.co/BingoBlitz/ooDGv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-24-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=37bf49c93c6a4423cc2516fc0d6cc1759fbe7d26f4235c6d465d75945c00220b&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45940&gameref=FBS_240225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-23-2025</span>
    <a href="https://d10x.co/BingoBlitz/4pfpP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-23-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=9970bf6fa43c9a05aafe40155171236c1b97997af15b9676f44733f9d1c429c8&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45939&gameref=FBS_230225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-22-2025</span>
    <a href="https://d10x.co/BingoBlitz/rlA3A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-22-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=ce13aa145c241f156d48227b0b7c7d43c7afb422b97e8ced1c9b29c85f62f460&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45935&gameref=FBS_220225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-21-2025</span>
    <a href="https://d10x.co/BingoBlitz/W2puL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-21-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=84384ec593bcb7ceba8e1fa29b939a07e6f00d167ed7251f8683756ef44e091d&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45934&gameref=FBS_210225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-20-2025</span>
    <a href="https://d10x.co/BingoBlitz/PDSU8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-20-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=fc9d66eb7efd08b772f167de26403b193b7157b67fdc70dfc96fcaae79a7758d&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45798&gameref=IG+20.02.2025&fbclid=PAZXh0bgNhZW0CMTEAAaaN-mWDj418ynPhMZEWtBWWSyg9ShvCwYm1NnIlUE2CTEfVMtZ1tKppgak_aem_8yjkNmBkxzjIb5kI1Reitg." class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-20-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=2c29cabbce6a2ddf487a539730b48a3c638168e0ee3f55f49b735902f9d1aff5&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45917&gameref=FBS_200325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-19-2025</span>
    <a href="https://d10x.co/BingoBlitz/JrV8A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-19-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=e1b56ee60fc01dcab41f9acb890247315bc18178b8f0e6f15b8eac8aa4b24a7c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45916&gameref=FBS_190225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-18-2025</span>
    <a href="https://d10x.co/BingoBlitz/doPWy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-18-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=ae150690bbc58653fa09814a9d0c09fc8de8bd5afc81793d1a50307d962a66bb&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45914&gameref=FBS_180225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-18-2025</span>
    <a href="http://d10x.co/BingoBlitz/UJkiy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-18-2025</span>
    <a href="https://d10x.co/BingoBlitz/fXpfm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-17-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=44dd03b117818e19bfc7d4178ec8b0a5bd03f214ae009c0f9ca72d5db0c0001a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45912&gameref=FBS_170225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-16-2025</span>
    <a href="https://d10x.co/BingoBlitz/WmfHL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-16-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=b4e39a9b1291514693064ebbdd096b2181872054d4e1c888acbe410a7c28c0f0&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45891&gameref=FBS_160225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-15-2025</span>
    <a href="https://d10x.co/BingoBlitz/e9n6M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-15-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=0f011ff6c93fd495c1155f561f54d39a3bb11c96f710c8c755627fe92c4b5255&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45890&gameref=FBS_150225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-15-2025</span>
    <a href="https://d10x.co/BingoBlitz/q9k77" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-14-2025</span>
    <a href="https://d10x.co/BingoBlitz/raIRM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-14-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f1df53e540bf70281952c56487b06a1fd637d6dae71bc8a112576830ef6fa500&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45889&gameref=FBS_140225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-14-2025</span>
    <a href="https://d10x.co/BingoBlitz/LLS1k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-13-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=21921db7ec6f2f9ffc2cb1e70003f6b8fc83e99a3a322b72d7e2b9a80be784b1&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45796&gameref=IG+13.02.2025&fbclid=PAZXh0bgNhZW0CMTEAAabc8AFSbSoYTYs40_I-0cBk8Iv5uhXLp7BKGuUrep2kkWYogMglVsME8GQ_aem_MDIoRVdpdlEoZ7ZQqaXd1w." class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-13-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=6588661b427a1c0701bdceb01a0068709a81e42f548ebd263c2e962894b4f0ff&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45864&gameref=FBS_130225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-12-2025</span>
    <a href="https://d10x.co/BingoBlitz/spsk1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-12-2025</span>
    <a href="https://d10x.co/BingoBlitz/eTx8i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-12-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=a7a20edff85fddd4ac133ec60ee8c9fb6272ccc224f4fcab0f16f8852174eb0a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45863&gameref=FBS_120225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-11-2025</span>
    <a href="https://d10x.co/BingoBlitz/I4Ve7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-11-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=ce44a8dce23b94f9a4ba7574b01418ea627699b53ae25c88a4ed1151d5d3f7c2&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45861&gameref=FBS_110225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-11-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=cfd0b88da2f52e1254eb70456a9d7f817bd9701fe7334f192f18c65c21ec5a06&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45795&gameref=IG+11.02.2025&fbclid=PAY2xjawIYD01leHRuA2FlbQIxMQABprCZgFFA6Yft1HzXM7plSbKrOdL0hpI48_9QGVh_lXexvLsroRgnCKH0dA_aem_35L-YSiBqlGp8vCxd92xzA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-11-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f05e29491c22113cb3c725ee06f85507fbe347d42c6debb70ac7e502798db10b&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45882&gameref=100225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-10-2025</span>
    <a href="https://d10x.co/BingoBlitz/STatE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-10-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=42620f486696a72e52f27d8060c60f710ca85bb5eae319fead8dc3da279644be&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45860&gameref=FBS_100225&fbclid=IwY2xjawIXELpleHRuA2FlbQIxMQABHTs1g03KiysG459m3lZjH3CahKUQDWR-E3i9PAhApN5p4i_8sJvihDBDvg_aem_G_CVvNob01vRHLhw4x5uzQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits 02-09-2025</span>
    <a href="https://d10x.co/BingoBlitz/tUQyq" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>