<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://scrb.ly/4iVSges" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=83d35523b81596150577b53d34e36ba4&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250401&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MzQ1NDgwMCwiZXQiOjE3NDM3MTQwMDAsInJuIjo0MzMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250401" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="http://scrb.ly/40CH2nA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://scrb.ly/4iCVd3Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://scrb.ly/4iwxT7R" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://scrb.ly/3Ehw6Ei" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=76fe41a6c14e152278158c95686875b6&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250331&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MzM2ODQwMCwiZXQiOjE3NDM2Mjc2MDAsInJuIjo5MTgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250331" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://scrb.ly/4kTuRvP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://scrb.ly/4iXGhgr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="http://scrb.ly/4e6e04s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=868da90672c6abe77ee7f14b80b6a368&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250330&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MzI4MjAwMCwiZXQiOjE3NDM1NDEyMDAsInJuIjoyNzAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250330" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://scrb.ly/4kSIsnb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://scrb.ly/4iUfG3L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="http://scrb.ly/4hhfIlS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-29-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=291190a496293d2f34868a1ea690100c&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250329&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MzE5NTYwMCwiZXQiOjE3NDM0NTQ4MDAsInJuIjoyNjUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250329" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-29-2025</span>
    <a href="https://scrb.ly/4kS7OS7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-29-2025</span>
    <a href="https://scrb.ly/4iM7GBQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-29-2025</span>
    <a href="http://scrb.ly/4hnguhm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=188858c050331d80144c49a0f8f6ade2&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250328&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MzExMjgwMCwiZXQiOjE3NDMzNjg0MDAsInJuIjozMjUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250328" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://scrb.ly/4izlBvo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://scrb.ly/4kSIrzD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="http://scrb.ly/3ChiMyw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=d3a05919589624de009c4cee8a97ea97&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250327&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MzAyNjQwMCwiZXQiOjE3NDMyODIwMDAsInJuIjozMTQsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250327" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://scrb.ly/4kS7O4z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://scrb.ly/4gPqJe1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="http://scrb.ly/40DuVqc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-26-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=3c9c74a0dffc6cb64cc771342d69b4c9&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250326&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0Mjk0MDAwMCwiZXQiOjE3NDMxOTU2MDAsInJuIjo2MjcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250326" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-26-2025</span>
    <a href="https://scrb.ly/4aho9L5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-26-2025</span>
    <a href="https://scrb.ly/3WhM2N0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=3b02acf25957e30826b9e0cc3f97923d&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250325&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0Mjg1MzYwMCwiZXQiOjE3NDMxMTI4MDAsInJuIjo3NzAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://scrb.ly/4gHV8uB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://scrb.ly/4gRuLlR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://scrb.ly/4ho8tbN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=c78abb414ed24eb8702d3ab2840e0579&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250324&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0Mjc2NzIwMCwiZXQiOjE3NDMwMjY0MDAsInJuIjo5NDYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250324" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://scrb.ly/4gNbn9G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://scrb.ly/4gPCTTT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="http://scrb.ly/40mCG5h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=fe025428e11a5548cd5d1aad772b1fd0&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250323&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjY4MDgwMCwiZXQiOjE3NDI5NDAwMDAsInJuIjo2MzcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250323" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://scrb.ly/4adJsxk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://scrb.ly/3WcVYqY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="http://scrb.ly/4ho8mgn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=508d84996e7e20b089d2e4a3e75c6694&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250322&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjU5NDQwMCwiZXQiOjE3NDI4NTM2MDAsInJuIjo1NzYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250322" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://scrb.ly/4jd2qbm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://scrb.ly/4aevbAh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="http://scrb.ly/42Bjodu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1cd4879461c256c753ace3a987cf9392&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250321&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjUwODAwMCwiZXQiOjE3NDI3NjcyMDAsInJuIjo2NTksInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250321" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://scrb.ly/4gQqorr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://scrb.ly/4jeFQit" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://scrb.ly/3YteThp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=302c3ee87526c087970772272fe43a75&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250320&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjQyMTYwMCwiZXQiOjE3NDI2ODA4MDAsInJuIjoxNjksInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250320" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://scrb.ly/3WfurW3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://scrb.ly/4jaGqhk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="http://scrb.ly/3Cnn7Rw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=a405ab9aa9f7aa836c09d993da516bd4&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250319&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjMzNTIwMCwiZXQiOjE3NDI1OTQ0MDAsInJuIjoxMDcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250319" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://scrb.ly/3WfD4Qu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://scrb.ly/4abpD9P" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1092479e94792457837485141f71e8b0&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250318&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjI0ODgwMCwiZXQiOjE3NDI1MDgwMDAsInJuIjo5NjUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250318&fbclid=PAY2xjawJGg4NleHRuA2FlbQIxMAABpq53R-OF4xJg6KmoZs5M9IAYwbKYp13pZufUo2ZqMWm8L3T99U6t5xdZQw_aem_XsENX-Dy1ENOov8zifL3WA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="http://scrb.ly/40tbD8v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/4adJrJM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/3DU1Krm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/4kztYIE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/4hdKsDj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/3FpCbil" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="http://scrb.ly/4hcsYrQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=765356f1e16b1c9f8ab6a7692b855516&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250317&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjE2MjQwMCwiZXQiOjE3NDI0MjE2MDAsInJuIjo4NDYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250317" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://scrb.ly/4bDaWgp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://scrb.ly/4aho89Z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=70fd1873084c79327e6c8d861739d878&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250316&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjA3NjAwMCwiZXQiOjE3NDIzMzUyMDAsInJuIjo1MDgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250316" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="http://scrb.ly/4hsprq4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://scrb.ly/3DOIviX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://scrb.ly/3DU1KaQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=27f43ec119d74f327649509685aed46f&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250315&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTk4OTYwMCwiZXQiOjE3NDIyNDg4MDAsInJuIjo1OTIsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250315" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://scrb.ly/40gMufL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://scrb.ly/4afTNc0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=e529e4897b1070c107e09f0b4ef45e0c&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250314&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTkwMzIwMCwiZXQiOjE3NDIxNjI0MDAsInJuIjo3MTYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250314" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="http://scrb.ly/40RFAPn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://scrb.ly/40aUe2B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://scrb.ly/40gMtZf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://scrb.ly/4htUGkj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://scrb.ly/4afTHBa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://scrb.ly/4gNxoVZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://scrb.ly/42BgDJq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://scrb.ly/40gFJdw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://scrb.ly/3C8QcQr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://scrb.ly/4hqurLG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=9f8efda6962052101c938fd14433230b&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250311&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTY0NDAwMCwiZXQiOjE3NDE5MDMyMDAsInJuIjozOTgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250311&fbclid=PAY2xjawI9NlhleHRuA2FlbQIxMAABpoX65u62tb5Pdh3XgnEpXsbEG_urPKav1DLnLokfoMj-yhQV1_BUggb5fw_aem_uokfSYHdPxlmbN_BaR-PfA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://scrb.ly/3DRUMmG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://scrb.ly/3WfuqkX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=f839fe717ef5144d9f2750dd468aed1e&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250310&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTU1NzYwMCwiZXQiOjE3NDE4MTY4MDAsInJuIjo3NTAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250310" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="http://scrb.ly/3EkqwB2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://scrb.ly/4gQ2hJq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://scrb.ly/4adJrcK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://scrb.ly/4fqx5PG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://scrb.ly/3WemyzS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-09-2025</span>
    <a href="https://scrb.ly/40cpkHa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://scrb.ly/4huHhbe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1706e569668369c21f4ae0c19a659cdf&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250308&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTM4NDgwMCwiZXQiOjE3NDE2NDQwMDAsInJuIjo0NzgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250308" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4gNxnBp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4jaRlaN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://scrb.ly/3Cu9hwE" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>