<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://scrb.ly/4jeFQit" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://scrb.ly/3YteThp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=302c3ee87526c087970772272fe43a75&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250320&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjQyMTYwMCwiZXQiOjE3NDI2ODA4MDAsInJuIjoxNjksInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250320" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://scrb.ly/3WfurW3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://scrb.ly/4jaGqhk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="http://scrb.ly/3Cnn7Rw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=a405ab9aa9f7aa836c09d993da516bd4&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250319&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjMzNTIwMCwiZXQiOjE3NDI1OTQ0MDAsInJuIjoxMDcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250319" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://scrb.ly/3WfD4Qu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://scrb.ly/4abpD9P" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1092479e94792457837485141f71e8b0&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250318&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjI0ODgwMCwiZXQiOjE3NDI1MDgwMDAsInJuIjo5NjUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250318&fbclid=PAY2xjawJGg4NleHRuA2FlbQIxMAABpq53R-OF4xJg6KmoZs5M9IAYwbKYp13pZufUo2ZqMWm8L3T99U6t5xdZQw_aem_XsENX-Dy1ENOov8zifL3WA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="http://scrb.ly/40tbD8v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/4adJrJM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/3DU1Krm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/4kztYIE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/4hdKsDj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://scrb.ly/3FpCbil" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="http://scrb.ly/4hcsYrQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=765356f1e16b1c9f8ab6a7692b855516&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250317&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjE2MjQwMCwiZXQiOjE3NDI0MjE2MDAsInJuIjo4NDYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250317" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://scrb.ly/4bDaWgp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://scrb.ly/4aho89Z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=70fd1873084c79327e6c8d861739d878&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250316&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MjA3NjAwMCwiZXQiOjE3NDIzMzUyMDAsInJuIjo1MDgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250316" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="http://scrb.ly/4hsprq4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://scrb.ly/3DOIviX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://scrb.ly/3DU1KaQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=27f43ec119d74f327649509685aed46f&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250315&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTk4OTYwMCwiZXQiOjE3NDIyNDg4MDAsInJuIjo1OTIsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250315" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://scrb.ly/40gMufL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://scrb.ly/4afTNc0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=e529e4897b1070c107e09f0b4ef45e0c&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250314&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTkwMzIwMCwiZXQiOjE3NDIxNjI0MDAsInJuIjo3MTYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250314" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="http://scrb.ly/40RFAPn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://scrb.ly/40aUe2B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://scrb.ly/40gMtZf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://scrb.ly/4htUGkj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://scrb.ly/4afTHBa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://scrb.ly/4gNxoVZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://scrb.ly/42BgDJq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://scrb.ly/40gFJdw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://scrb.ly/3C8QcQr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://scrb.ly/4hqurLG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=9f8efda6962052101c938fd14433230b&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250311&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTY0NDAwMCwiZXQiOjE3NDE5MDMyMDAsInJuIjozOTgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250311&fbclid=PAY2xjawI9NlhleHRuA2FlbQIxMAABpoX65u62tb5Pdh3XgnEpXsbEG_urPKav1DLnLokfoMj-yhQV1_BUggb5fw_aem_uokfSYHdPxlmbN_BaR-PfA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://scrb.ly/3DRUMmG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://scrb.ly/3WfuqkX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=f839fe717ef5144d9f2750dd468aed1e&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250310&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTU1NzYwMCwiZXQiOjE3NDE4MTY4MDAsInJuIjo3NTAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250310" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="http://scrb.ly/3EkqwB2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://scrb.ly/4gQ2hJq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://scrb.ly/4adJrcK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://scrb.ly/4fqx5PG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://scrb.ly/3WemyzS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-09-2025</span>
    <a href="https://scrb.ly/40cpkHa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://scrb.ly/4huHhbe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1706e569668369c21f4ae0c19a659cdf&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250308&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTM4NDgwMCwiZXQiOjE3NDE2NDQwMDAsInJuIjo0NzgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250308" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4gNxnBp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4jaRlaN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://scrb.ly/3Cu9hwE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/3DRULPE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=aca9349165c6ea9f39dd03f653c2e4e2&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250307&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTI5ODQwMCwiZXQiOjE3NDE1NTc2MDAsInJuIjo5MzAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250307" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4aho7mr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=c355f31aec87653908a7d1c5038f1e3f&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250306&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTIxMjAwMCwiZXQiOjE3NDE0NzEyMDAsInJuIjo0MDMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250306&fbclid=PAY2xjawI2ve5leHRuA2FlbQIxMAABppRVxb8GHXyDdrcDBQOji1qfyFTuOAo5hJhLZ6NCqRhQQ8Yq2hfQO8KyPA_aem_Ffo639Gbo3uuKgTJCwvZsQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://scrb.ly/3BZHJhW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4gQS27J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/3Wh8hCR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://scrb.ly/4aDLOWg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=5f068259aa905c01b1da07bfef0af912&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250305&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MTEyNTYwMCwiZXQiOjE3NDEzODQ4MDAsInJuIjoxNzUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250305" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4hdRiJq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/40f6dMx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://scrb.ly/3UwrzTB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4jfTfa0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/4gQXh78" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://scrb.ly/4aD7pyj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=e54ee7fdda74abced10e9b2ef9f608ee&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250303&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MDk1MjgwMCwiZXQiOjE3NDEyMTIwMDAsInJuIjozMjcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250303" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://scrb.ly/40cpjTC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-03-2025</span>
    <a href="https://scrb.ly/40dzPKv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-02-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=27bfcef0cc0cbd89c0bc299fc8bb3447&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250302&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MDg2NjQwMCwiZXQiOjE3NDExMjU2MDAsInJuIjozMDcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250302&fbclid=PAY2xjawIxYWJleHRuA2FlbQIxMAABphe8-syMOiFogbHy7OsvUGvKa_Fm9cI6tNbYqsoNceT50a0AN_3CsBB3gA_aem_S8aCCzY7nMCM5wXs9HnHQQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-02-2025</span>
    <a href="https://scrb.ly/4ai7QxW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-02-2025</span>
    <a href="https://scrb.ly/3UthaIq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-02-2025</span>
    <a href="https://scrb.ly/3WEuYkD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-01-2025</span>
    <a href="http://scrb.ly/416rKch" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-01-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=fac590b44a231676dd0400b6dd4fb668&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250301&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MDc4MDAwMCwiZXQiOjE3NDEwMzkyMDAsInJuIjoyOTcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250301" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-01-2025</span>
    <a href="https://scrb.ly/4jdmYjR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-01-2025</span>
    <a href="https://scrb.ly/3Wh9UQP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="http://scrb.ly/4hBDjNV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=f700822d92e2e3308a34afda4f444b7e&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250228&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MDY5MzYwMCwiZXQiOjE3NDA5NTI4MDAsInJuIjo2MDYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250228&fbclid=PAY2xjawIuudNleHRuA2FlbQIxMAABpn9OJsQCUOHpH6JE6Ai6jpmzw7mW99YfhhDMlhKow8eYjS_pjwkbNpJl0w_aem_CIyce68j3xoP94CGFCS5yQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="https://scrb.ly/3WEuY47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="https://scrb.ly/3DTRmjl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-27-2025</span>
    <a href="https://scrb.ly/4flJOmM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-27-2025</span>
    <a href="https://scrb.ly/4hdiI2g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-27-2025</span>
    <a href="https://scrb.ly/3DT2A7L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-26-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=7f7d6efd066d8d6c3af7bff41fabd18f&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250226&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MDUyMDgwMCwiZXQiOjE3NDA3ODAwMDAsInJuIjo5NDgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250226" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-26-2025</span>
    <a href="https://scrb.ly/4adLLQQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-26-2025</span>
    <a href="https://scrb.ly/4hvbDub" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-26-2025</span>
    <a href="http://scrb.ly/3BYs56r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=c14f4b4be60473ba76b890223bd6f83e&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250225&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MDQzNDQwMCwiZXQiOjE3NDA2OTM2MDAsInJuIjo1MzUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250225&fbclid=PAY2xjawIqti1leHRuA2FlbQIxMAABpjqQQfK_fjXiztLa-hqcxRurUrrfY4b3K3JNnvQ7HmgOzriBDzF5cP1Qpg_aem_ycvrftBP-9QM3VSPULV6iw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://scrb.ly/3BYs56r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://scrb.ly/4jaRk6J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://scrb.ly/40yVsoP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="https://scrb.ly/40HHSiZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="https://scrb.ly/4jfTdPq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=2a60b8f6947849f3d342f3943bfe18ec&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20250224&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTc0MDM0ODAwMCwiZXQiOjE3NDA2MDcyMDAsInJuIjoyMzIsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20250224&fbclid=PAY2xjawIpcVxleHRuA2FlbQIxMAABpt9wOB7B8l11_IkMDNPsl9zJL65287zCeEUd4G2h5Vk00uQEMkqEcFKF_A_aem_RCoDUSeJlJOZf2G1oIeHBw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="https://scrb.ly/4gQH3uW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="http://scrb.ly/4fmPVal" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-23-2025</span>
    <a href="https://scrb.ly/4adJp4u" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>