<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41NePuV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4kCnCIB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4hjNyWG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4c0cDEL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4kPVdyJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3R7heeH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3FuwuQl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4kRUUDs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4bPELKF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4igIDa6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41HBqZs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41TyOcg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4bukpGG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3XwOsaW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4ivI2B2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41kpDjO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4kjyvyV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41ooPud" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4hOScwB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3CZUyd7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/43bg35u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4hQiWwK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3D4dVlc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3D4Si4c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3Qv5cM0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41h5212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3X80Az5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41iztUB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41mnWUo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41gfFRM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/410vcDO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3EEYqka" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4hRRRcj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4gThMzD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4jSCP7W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3EtXFKK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4jQT31" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4hrFPGC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3Q5XgAB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4hnSj2e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4h889xB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4jtRV3p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4gaUg0n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4jvfSYf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4h65Kn3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4jv4KuA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4g7emIU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3Cf5djH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3PFIIr8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/40jk9VW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4g3pO8k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/40mgo1U" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/42bFq6r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4jcao4y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/40s6k93" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3DIsOtl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4adzegm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/40oURXz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3W6x1O6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3PlwBPS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4gBZ1RS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4gB1RGH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4a2fWdM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3Ph1ghb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3Dw4Z86" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4fuL6eU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/408Eezw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41Q31tf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3DtkLjX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/49UpyqL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4iNnKUv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/49PbizA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/402Ucef" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4gm1f7M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4gEFgsp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41E4q61" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3ZwEIOt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/49uLPeC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41qHdo0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3ZsuKNN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3ONxmRx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4iw00UQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3ZD2v0a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3VsmegN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3OOQzlH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3DcLZuY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/41816A1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3Zn0vt5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3OqfiNk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3V6jyoX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3CILGrQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4eK3znw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3Z32Rf6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4123UhR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3UZC6ao" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/4eDxCNn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3CRdTfS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/490RYik" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/40PEyUE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://bit.ly/3YNfA5r" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>