<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://rwys.xyz/?code=Fv9Sv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://rwys.xyz/?code=Fu0FL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://rwys.xyz/?code=Fa5ff5d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://rwys.xyz/?code=FmD4Z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-19-2025</span>
    <a href="https://rwys.xyz/?code=FlFwy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-19-2025</span>
    <a href="http://rwys.xyz/?code=Fab24cd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-19-2025</span>
    <a href="https://rwys.xyz/?code=FkEOP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-18-2025</span>
    <a href="https://rwys.xyz/?code=Fjcos" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-16-2025</span>
    <a href="http://rwys.xyz/?code=F68897f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-18-2025</span>
    <a href="https://rwys.xyz/?code=Fi8rg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-17-2025</span>
    <a href="https://rwys.xyz/?code=Fa3ec6d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-17-2025</span>
    <a href="https://rwys.xyz/?code=FheFu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-16-2025</span>
    <a href="https://rwys.xyz/?code=FgUlj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-15-2025</span>
    <a href="http://rwys.xyz/?code=Feca89c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-14-2025</span>
    <a href="http://rwys.xyz/?code=Fda0b1b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-14-2025</span>
    <a href="https://rwys.xyz/?code=FeMYp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-13-2025</span>
    <a href="https://rwys.xyz/?code=Ff7efa4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-13-2025</span>
    <a href="https://rwys.xyz/?code=FdY8E" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-12-2025</span>
    <a href="https://rwys.xyz/?code=FcYDz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-12-2025</span>
    <a href="https://rwys.xyz/?code=F3983e1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-12-2025</span>
    <a href="https://rwys.xyz/?code=FGPGw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-11-2025</span>
    <a href="https://rwys.xyz/?code=Fe1b903" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-11-2025</span>
    <a href="https://rwys.xyz/?code=FFSmS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-11-2025</span>
    <a href="https://rwys.xyz/?code=FEYxi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://rwys.xyz/?code=FDOXo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://rwys.xyz/?code=F02bf86" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://rwys.xyz/?code=FCGgw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-09-2025</span>
    <a href="https://rwys.xyz/?code=FBuYh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-09-2025</span>
    <a href="http://rwys.xyz/?code=F486c82" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-09-2025</span>
    <a href="https://rwys.xyz/?code=FAeV4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=F3b9be7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FzRSY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FyPhY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Fxuga" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Fe3b212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FrPF5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Fq1yM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="http://rwys.xyz/?code=Fe3b212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FpMy6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FoFy3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="http://rwys.xyz/?code=F350a37" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FjcgX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Fi8Sk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FgUDV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FfcGb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Ffb4c48" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-03-2025</span>
    <a href="https://rwys.xyz/?code=FeM0u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-02-2025</span>
    <a href="https://rwys.xyz/?code=FdYip" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-02-2025</span>
    <a href="https://rwys.xyz/?code=Fab2481" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-02-2025</span>
    <a href="https://rwys.xyz/?code=FcYG9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-01-2025</span>
    <a href="https://rwys.xyz/?code=FbOgc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-01-2025</span>
    <a href="https://rwys.xyz/?code=F75806e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-01-2025</span>
    <a href="https://rwys.xyz/?code=FafE2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-28-2025</span>
    <a href="https://rwys.xyz/?code=F0cie" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-28-2025</span>
    <a href="https://rwys.xyz/?code=F813341" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-28-2025</span>
    <a href="https://rwys.xyz/?code=F5eI3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-27-2025</span>
    <a href="https://rwys.xyz/?code=F43SI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-27-2025</span>
    <a href="https://rwys.xyz/?code=F4b04b0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-27-2025</span>
    <a href="https://rwys.xyz/?code=F2dZM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-26-2025</span>
    <a href="http://rwys.xyz/?code=F5487e7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-26-2025</span>
    <a href="https://rwys.xyz/?code=F1ZFU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-26-2025</span>
    <a href="https://rwys.xyz/?code=FYwhU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-25-2025</span>
    <a href="https://rwys.xyz/?code=FXcjs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-25-2025</span>
    <a href="http://rwys.xyz/?code=F565778" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-25-2025</span>
    <a href="https://rwys.xyz/?code=FWSDM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://rwys.xyz/?code=FVNhZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://rwys.xyz/?code=F565778" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://rwys.xyz/?code=FUZgc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-23-2025</span>
    <a href="https://rwys.xyz/?code=FTcr3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-23-2025</span>
    <a href="https://rwys.xyz/?code=Fd360a5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-23-2025</span>
    <a href="https://rwys.xyz/?code=FSAeY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-22-2025</span>
    <a href="https://rwys.xyz/?code=FRPNf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-22-2025</span>
    <a href="http://rwys.xyz/?code=F5b5e6c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-22-2025</span>
    <a href="https://rwys.xyz/?code=FQ2DT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-21-2025</span>
    <a href="https://rwys.xyz/?code=FPRPw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-21-2025</span>
    <a href="http://rwys.xyz/?code=F4f81b1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-21-2025</span>
    <a href="https://rwys.xyz/?code=FOaJA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-20-2025</span>
    <a href="http://rwys.xyz/?code=F7f5fc7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-20-2025</span>
    <a href="https://rwys.xyz/?code=FNRPY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-20-2025</span>
    <a href="https://rwys.xyz/?code=FGPVw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-19-2025</span>
    <a href="https://rwys.xyz/?code=FFSxS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-19-2025</span>
    <a href="http://rwys.xyz/?code=Fc0c783" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-19-2025</span>
    <a href="https://rwys.xyz/?code=FDOQo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-18-2025</span>
    <a href="http://rwys.xyz/?code=F084a8a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-18-2025</span>
    <a href="https://rwys.xyz/?code=FCGsw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-18-2025</span>
    <a href="https://rwys.xyz/?code=FAeq4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-17-2025</span>
    <a href="https://rwys.xyz/?code=FzRiY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-17-2025</span>
    <a href="http://rwys.xyz/?code=Fac4e7a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-17-2025</span>
    <a href="https://rwys.xyz/?code=FyPrY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-17-2025</span>
    <a href="https://rwys.xyz/?code=FxuGa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-16-2025</span>
    <a href="https://rwys.xyz/?code=FwRul" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-15-2025</span>
    <a href="https://rwys.xyz/?code=Fv9ZB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-15-2025</span>
    <a href="https://rwys.xyz/?code=F621c09" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-15-2025</span>
    <a href="https://rwys.xyz/?code=Fu0nW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-14-2025</span>
    <a href="https://rwys.xyz/?code=Ft74x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-14-2025</span>
    <a href="http://rwys.xyz/?code=Ff04cd7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-14-2025</span>
    <a href="https://rwys.xyz/?code=FoFM3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-13-2025</span>
    <a href="https://rwys.xyz/?code=FniVu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-13-2025</span>
    <a href="https://rwys.xyz/?code=F587524" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-13-2025</span>
    <a href="https://rwys.xyz/?code=FlFeG" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>