<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-31-2025</span>
    <a href="https://rwys.xyz/?code=FYwtv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-31-2025</span>
    <a href="http://rwys.xyz/?code=F88479e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-31-2025</span>
    <a href="https://rwys.xyz/?code=FXcFq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-30-2025</span>
    <a href="https://rwys.xyz/?code=FWSRq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-30-2025</span>
    <a href="http://rwys.xyz/?code=F6734fa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-30-2025</span>
    <a href="https://rwys.xyz/?code=FVNOv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-30-2025</span>
    <a href="https://rwys.xyz/?code=FUZyF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-30-2025</span>
    <a href="https://rwys.xyz/?code=F93da57" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-29-2025</span>
    <a href="https://rwys.xyz/?code=FTcF0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-28-2025</span>
    <a href="https://rwys.xyz/?code=FSA0o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-28-2025</span>
    <a href="https://rwys.xyz/?code=F46fc94" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-28-2025</span>
    <a href="https://rwys.xyz/?code=FRP2O" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-27-2025</span>
    <a href="https://rwys.xyz/?code=FQ2yv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-27-2025</span>
    <a href="https://rwys.xyz/?code=Fa6a767" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-27-2025</span>
    <a href="https://rwys.xyz/?code=FPR35" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-26-2025</span>
    <a href="http://rwys.xyz/?code=Fb2330f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-26-2025</span>
    <a href="https://rwys.xyz/?code=FOaSe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-26-2025</span>
    <a href="https://rwys.xyz/?code=FFSm1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-25-2025</span>
    <a href="http://rwys.xyz/?code=Fa4d8e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-25-2025</span>
    <a href="https://rwys.xyz/?code=FEYxJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-25-2025</span>
    <a href="https://rwys.xyz/?code=FDOSe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=FCGSX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=F1b69eb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=FBu1q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=FAeSj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=Fde3c1a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=FzR1A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=Fc1aeb6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=FyP17" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=FxuHo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=F1e8ca8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-24-2025</span>
    <a href="https://rwys.xyz/?code=FwRMN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://rwys.xyz/?code=Fv9Sv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://rwys.xyz/?code=Fu0FL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://rwys.xyz/?code=Fa5ff5d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://rwys.xyz/?code=FmD4Z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-19-2025</span>
    <a href="https://rwys.xyz/?code=FlFwy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-19-2025</span>
    <a href="http://rwys.xyz/?code=Fab24cd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-19-2025</span>
    <a href="https://rwys.xyz/?code=FkEOP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-18-2025</span>
    <a href="https://rwys.xyz/?code=Fjcos" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-16-2025</span>
    <a href="http://rwys.xyz/?code=F68897f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-18-2025</span>
    <a href="https://rwys.xyz/?code=Fi8rg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-17-2025</span>
    <a href="https://rwys.xyz/?code=Fa3ec6d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-17-2025</span>
    <a href="https://rwys.xyz/?code=FheFu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-16-2025</span>
    <a href="https://rwys.xyz/?code=FgUlj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-15-2025</span>
    <a href="http://rwys.xyz/?code=Feca89c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-14-2025</span>
    <a href="http://rwys.xyz/?code=Fda0b1b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-14-2025</span>
    <a href="https://rwys.xyz/?code=FeMYp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-13-2025</span>
    <a href="https://rwys.xyz/?code=Ff7efa4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-13-2025</span>
    <a href="https://rwys.xyz/?code=FdY8E" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-12-2025</span>
    <a href="https://rwys.xyz/?code=FcYDz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-12-2025</span>
    <a href="https://rwys.xyz/?code=F3983e1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-12-2025</span>
    <a href="https://rwys.xyz/?code=FGPGw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-11-2025</span>
    <a href="https://rwys.xyz/?code=Fe1b903" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-11-2025</span>
    <a href="https://rwys.xyz/?code=FFSmS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-11-2025</span>
    <a href="https://rwys.xyz/?code=FEYxi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://rwys.xyz/?code=FDOXo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://rwys.xyz/?code=F02bf86" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://rwys.xyz/?code=FCGgw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-09-2025</span>
    <a href="https://rwys.xyz/?code=FBuYh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-09-2025</span>
    <a href="http://rwys.xyz/?code=F486c82" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-09-2025</span>
    <a href="https://rwys.xyz/?code=FAeV4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=F3b9be7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FzRSY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FyPhY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Fxuga" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Fe3b212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FrPF5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Fq1yM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="http://rwys.xyz/?code=Fe3b212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FpMy6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FoFy3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="http://rwys.xyz/?code=F350a37" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FjcgX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Fi8Sk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FgUDV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=FfcGb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://rwys.xyz/?code=Ffb4c48" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-03-2025</span>
    <a href="https://rwys.xyz/?code=FeM0u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-02-2025</span>
    <a href="https://rwys.xyz/?code=FdYip" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-02-2025</span>
    <a href="https://rwys.xyz/?code=Fab2481" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-02-2025</span>
    <a href="https://rwys.xyz/?code=FcYG9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-01-2025</span>
    <a href="https://rwys.xyz/?code=FbOgc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-01-2025</span>
    <a href="https://rwys.xyz/?code=F75806e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-01-2025</span>
    <a href="https://rwys.xyz/?code=FafE2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-28-2025</span>
    <a href="https://rwys.xyz/?code=F0cie" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-28-2025</span>
    <a href="https://rwys.xyz/?code=F813341" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-28-2025</span>
    <a href="https://rwys.xyz/?code=F5eI3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-27-2025</span>
    <a href="https://rwys.xyz/?code=F43SI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-27-2025</span>
    <a href="https://rwys.xyz/?code=F4b04b0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-27-2025</span>
    <a href="https://rwys.xyz/?code=F2dZM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-26-2025</span>
    <a href="http://rwys.xyz/?code=F5487e7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-26-2025</span>
    <a href="https://rwys.xyz/?code=F1ZFU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-26-2025</span>
    <a href="https://rwys.xyz/?code=FYwhU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-25-2025</span>
    <a href="https://rwys.xyz/?code=FXcjs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-25-2025</span>
    <a href="http://rwys.xyz/?code=F565778" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-25-2025</span>
    <a href="https://rwys.xyz/?code=FWSDM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://rwys.xyz/?code=FVNhZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://rwys.xyz/?code=F565778" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://rwys.xyz/?code=FUZgc" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>