<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://duc.link/FreeChipsmar31gdv7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://duc.link/FreeChipsmar221d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://duc.link/FreeChipsmar30ffe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://duc.link/insta_30ydncd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://duc.link/FreeChipsmar307" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://duc.link/x0330jghd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://duc.link/insta_29eixmc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://duc.link/insta_29ejkdgk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://duc.link/FreeChipsmars29gd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://duc.link/FreeChipsMar1292" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="http://duc.link/x0329ueny" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-29-2025</span>
    <a href="https://duc.link/insta_28uencm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-29-2025</span>
    <a href="https://duc.link/FreeChipsMar27dgdgy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-29-2025</span>
    <a href="http://duc.link/x0328ivcn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://duc.link/FreeChipsmar27bdx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://duc.link/FreeChipsMar274zd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://duc.link/FreeChipsMar27eet8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://duc.link/insta_spin26dmx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://duc.link/FreeChipsmar26gce" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-26-2025</span>
    <a href="https://duc.link/FreeChipsMar25b6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-26-2025</span>
    <a href="https://duc.link/FreeChipsMar25egdf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-26-2025</span>
    <a href="http://duc.link/x0325ejkd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://duc.link/FreeChipsmar12gd8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://duc.link/insta_24kpwld" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://duc.link/FreeChipsmar24egd9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://duc.link/FreeChipsMar21dgdgy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://duc.link/insta_23rmnc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://duc.link/FreeChipsmar0ges7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="http://duc.link/x0323ydnh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://duc.link/insta_22uebcv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://duc.link/FreeChipsmar2gec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://duc.link/FreeChipsMar21cvh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="http://duc.link/x0322qncj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://duc.link/insta_21wcxxj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://duc.link/FreeChipsMargeef8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://duc.link/FreeChipsMar20ewf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://duc.link/Fcmar20Rgd2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://duc.link/FreeChipsMar158g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://duc.link/insta_spin19yubx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://duc.link/FreeChipsm19gx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://duc.link/FreeChipsMar18hvb1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://duc.link/FreeChipsmar225f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://duc.link/FreeChipsmar17bde" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://duc.link/insta_17engjed" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://duc.link/FreeChipsMar17fyer" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://duc.link/insta_16mkdp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://duc.link/FreeChipsmar1ge0v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://duc.link/FreeChipsmar5ge49q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://duc.link/insta_spin15werc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://duc.link/FreeChipsMar14ddfz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://duc.link/crystalaward0314" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://duc.link/insta_14wncbnl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://duc.link/FreeChipsmar345sd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://duc.link/FreeChipsmarsd13e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://duc.link/FreeChipsmareg9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://duc.link/FreeChipsmar0e3p9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://duc.link/insta_12ienxca" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://duc.link/FreeChipsMar35ebz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://duc.link/FreeChipsmar12gdv8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://duc.link/FreeChips25sde" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://duc.link/FreeChipsMar3dgy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://duc.link/insta_10wqnhcg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://duc.link/FreeChipsmar1egdd9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://duc.link/FreeChipsMa19ee" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://duc.link/insta_09wjcoj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://duc.link/FreeChipsmarffe1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-09-2025</span>
    <a href="https://duc.link/FreeCihpsmar3g4f8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-09-2025</span>
    <a href="https://duc.link/FreeChipsmardh9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-09-2025</span>
    <a href="https://duc.link/insta_08wncld" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/insta_07opdnm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipMar008be" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipsMar414z9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://duc.link/x0306icme" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipsMarga8x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipsMar42f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/insta_spin05uncd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipsMar8433e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipsMar5fen6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipsMar04adb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipsrioef73s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://duc.link/FreeChipsfen16h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-03-2025</span>
    <a href="https://duc.link/FrChFeb0153b6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-03-2025</span>
    <a href="https://duc.link/insta_01uencd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-03-2025</span>
    <a href="https://duc.link/FreeChipsfeb120v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-02-2025</span>
    <a href="https://duc.link/FreeChipsFeb0151m6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-02-2025</span>
    <a href="https://duc.link/insta_29qydwz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-02-2025</span>
    <a href="https://duc.link/FreeChipsNfe23mabe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-01-2025</span>
    <a href="https://duc.link/FreeChipsFeb28ecc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-01-2025</span>
    <a href="https://duc.link/insta_28sbcjh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="https://duc.link/FreeChipsfeb279d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="https://duc.link/FreeChipsfeb1273s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-27-2025</span>
    <a href="https://duc.link/FreeChipsFeb26aec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-27-2025</span>
    <a href="https://duc.link/FreeChipsFeb26edc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-26-2025</span>
    <a href="https://duc.link/FreeChipsfeb2anc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-26-2025</span>
    <a href="https://duc.link/FreeChipsFe251fef8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://duc.link/FreeChipsFeb1c1k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://duc.link/insta_24ejdcgd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://duc.link/FreeChipsfeb24gd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="https://duc.link/insta_23ycbdx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="https://duc.link/FreeChipsFeb22abd" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>