<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-P7DM0T2.cid-163331&lobby=casinoLobby-shop&pid=P7DM0T2&cid=163331" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=Z77V8AA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=SQIXYFF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=OM0I7R7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=RGMBR9K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=EG2P6ZZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=Q7WUJWK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.hallowinFiesta2405.445.recommend.pid-9WMQAFY.cid-163311&game=rgs.slots&variant=duc.hallowinFiesta2405.445_recommend&lineCost=1&pid=9WMQAFY&cid=163311" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.smashThePiggy2503.485.recommend.pid-NDQWAWR.cid-163328&game=rgs.slots&variant=t8g.smashThePiggy2503.485_recommend&lineCost=1&pid=NDQWAWR&cid=163328" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-VPPZRLE.cid-163326&lobby=casinoLobby-shop&pid=VPPZRLE&cid=163326" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-ANHPRWD.cid-163325&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=ANHPRWD&cid=163325" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot.pid-9JB2WHB.cid-163475&lobby=casinoLobby&pid=9JB2WHB&cid=163475" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=FSSN7NS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YBGLFWN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=FAAKEXN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=3MUFADP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=PSVY2Q2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=IVFHIMN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.hallowinFiesta2405.445.recommend.pid-1SIU2IS.cid-163310&game=rgs.slots&variant=duc.hallowinFiesta2405.445_recommend&lineCost=1&pid=1SIU2IS&cid=163310" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-UKRK56D.cid-163309&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=UKRK56D&cid=163309" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.hallowinFiesta2405.445.recommend.pid-ASFNJL7.cid-163308&game=rgs.slots&variant=duc.hallowinFiesta2405.445_recommend&lineCost=1&pid=ASFNJL7&cid=163308" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-LTUKAUO.cid-163307&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=LTUKAUO&cid=163307" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-8YADLAD.cid-163304&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=8YADLAD&cid=163304" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.theBigEasy2009.280.pid-ZJSVIHC.cid-163472&game=rgs.slots&variant=seq.theBigEasy2009.280&lineCost=1&pid=ZJSVIHC&cid=163472" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=PUIU258" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=13ULZH1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=GWFS2BT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=PHBL6WX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YJMGXPJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=2MCNAQ2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-BJHUHSZ.cid-163302&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=BJHUHSZ&cid=163302" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.hallowinFiesta2405.445.recommend.pid-5DOEBJ4.cid-163301&game=rgs.slots&variant=duc.hallowinFiesta2405.445_recommend&lineCost=1&pid=5DOEBJ4&cid=163301" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-YFSATDC.cid-163300&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=YFSATDC&cid=163300" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-7MYEO2K.cid-163299&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=7MYEO2K&cid=163299" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=O6KZ2FD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=W2SQK88" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=Z1HIPOI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=CASOSFR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YBDY0KT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=OBZSNLO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.doubleBonusExtreme2012.312.recommend.pid-SBXALBI.cid-163296&game=rgs.slots&variant=duc.doubleBonusExtreme2012.312_recommend&lineCost=1&pid=SBXALBI&cid=163296" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-U6LM4O0.cid-163343&lobby=casinoLobby-shop&pid=U6LM4O0&cid=163343" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.smashThePiggy2503.485.recommend.pid-R666CE9.cid-163344&game=rgs.slots&variant=t8g.smashThePiggy2503.485_recommend&lineCost=1&pid=R666CE9&cid=163344" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-YMX9O36.cid-163342&lobby=casinoLobby-shop&pid=YMX9O36&cid=163342" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=ZRYCSL3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=N7KNNUZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=MIRQHKK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=LJ76IBG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=ZA0WJZ3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=UWWMHT8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.museumHeist2502.486.recommend.pid-0U4EQKT.cid-163341&game=rgs.slots&variant=duc.museumHeist2502.486_recommend&lineCost=1&pid=0U4EQKT&cid=163341" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.doubleBonusExtreme2012.312.recommend.pid-ZSB39Z6.cid-163295&game=rgs.slots&variant=duc.doubleBonusExtreme2012.312_recommend&lineCost=1&pid=ZSB39Z6&cid=163295" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.doubleBonusExtreme2012.312.recommend.pid-YLK7ODU.cid-163293&game=rgs.slots&variant=duc.doubleBonusExtreme2012.312_recommend&lineCost=1&pid=YLK7ODU&cid=163293" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.doubleBonusExtreme2012.312.recommend.pid-RFEQEF6.cid-163294&game=rgs.slots&variant=duc.doubleBonusExtreme2012.312_recommend&lineCost=1&pid=RFEQEF6&cid=163294" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-CKURZDU.cid-163292&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=CKURZDU&cid=163292" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 04-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-NSSXW1O.cid-163291&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=NSSXW1O&cid=163291" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=0F2ODIR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=EVNXBHB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=PIEKEYK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=3SINOBY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=VHBDZ6N" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=RGBZOV8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=HSPTWT4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=M0QMNRT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=IY0SWNR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=V2FSA2T" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=W8FPLCH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.100Pandas.recommend.pid-7WPFYI7.cid-163289&game=rgs.slots&variant=rgs.100Pandas_recommend&lineCost=50&pid=7WPFYI7&cid=163289" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.museumHeist2502.486.recommend.pid-Q8IUTXB.cid-163338&game=rgs.slots&variant=duc.museumHeist2502.486_recommend&lineCost=1&pid=Q8IUTXB&cid=163338" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-ITVXPJ7.cid-163336&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=ITVXPJ7&cid=163336" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-RFQM6H3.cid-163337&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=RFQM6H3&cid=163337" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-2UZM5AZ.cid-163334&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=2UZM5AZ&cid=163334" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-HWICLZU.cid-163335&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=HWICLZU&cid=163335" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-ABTNIXX.cid-163082&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=ABTNIXX&cid=163082" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.superCoin20002410.463.recommend.pid-HOQBWIR.cid-163081&game=rgs.slots&variant=duc.superCoin20002410.463_recommend&lineCost=1&pid=HOQBWIR&cid=163081" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.mysticalMermaid.recommend.pid-JGY1PVG.cid-163080&game=rgs.slots&variant=rgs.mysticalMermaid_recommend&lineCost=500&pid=JGY1PVG&cid=163080" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.mysticalMermaid.recommend.pid-UOJLJTY.cid-163079&game=rgs.slots&variant=rgs.mysticalMermaid_recommend&lineCost=500&pid=UOJLJTY&cid=163079" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-ZVVRZ3G.cid-163063&lobby=casinoLobby-shop&pid=ZVVRZ3G&cid=163063" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-2YYND77.cid-163077&lobby=casinoLobby-shop&pid=2YYND77&cid=163077" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=43LPBPW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=INS1QUO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=VPFHSKH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=NKERJEH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=V86FBPM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=KQWRSYH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-86OPURV.cid-163078&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=86OPURV&cid=163078" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-ZCW2P0G.cid-163074&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=ZCW2P0G&cid=163074" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-VEWA2XH.cid-163073&lobby=casinoLobby-shop&pid=VEWA2XH&cid=163073" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.yetisFrostFortune2502.479.recommend.pid-RB0CJ67.cid-163070&game=rgs.slots&variant=t8g.yetisFrostFortune2502.479_recommend&lineCost=1&pid=RB0CJ67&cid=163070" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-M2CFP0X.cid-163071&lobby=casinoLobby-shop&pid=M2CFP0X&cid=163071" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-WNV71XV.cid-163072&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=WNV71XV&cid=163072" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=JYPMNCW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=CJIAF7C" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=NNYQYFX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=B6IGNA7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YOPFYY3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=XWLDAOZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=ZZQIPYF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.caskOLuck2503.483.recommend.pid-UQUTVEC.cid-163067&game=rgs.slots&variant=t8g.caskOLuck2503.483_recommend&lineCost=1&pid=UQUTVEC&cid=163067" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-FOJYAYV.cid-163054&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=FOJYAYV&cid=163054" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>