<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=0F2ODIR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=EVNXBHB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=PIEKEYK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=3SINOBY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=VHBDZ6N" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=RGBZOV8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=HSPTWT4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=M0QMNRT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=IY0SWNR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=V2FSA2T" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=W8FPLCH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.100Pandas.recommend.pid-7WPFYI7.cid-163289&game=rgs.slots&variant=rgs.100Pandas_recommend&lineCost=50&pid=7WPFYI7&cid=163289" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.museumHeist2502.486.recommend.pid-Q8IUTXB.cid-163338&game=rgs.slots&variant=duc.museumHeist2502.486_recommend&lineCost=1&pid=Q8IUTXB&cid=163338" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-ITVXPJ7.cid-163336&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=ITVXPJ7&cid=163336" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-RFQM6H3.cid-163337&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=RFQM6H3&cid=163337" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-2UZM5AZ.cid-163334&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=2UZM5AZ&cid=163334" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-HWICLZU.cid-163335&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=HWICLZU&cid=163335" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-ABTNIXX.cid-163082&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=ABTNIXX&cid=163082" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.superCoin20002410.463.recommend.pid-HOQBWIR.cid-163081&game=rgs.slots&variant=duc.superCoin20002410.463_recommend&lineCost=1&pid=HOQBWIR&cid=163081" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.mysticalMermaid.recommend.pid-JGY1PVG.cid-163080&game=rgs.slots&variant=rgs.mysticalMermaid_recommend&lineCost=500&pid=JGY1PVG&cid=163080" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-31-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.mysticalMermaid.recommend.pid-UOJLJTY.cid-163079&game=rgs.slots&variant=rgs.mysticalMermaid_recommend&lineCost=500&pid=UOJLJTY&cid=163079" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-ZVVRZ3G.cid-163063&lobby=casinoLobby-shop&pid=ZVVRZ3G&cid=163063" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-2YYND77.cid-163077&lobby=casinoLobby-shop&pid=2YYND77&cid=163077" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=43LPBPW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=INS1QUO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=VPFHSKH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=NKERJEH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=V86FBPM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=KQWRSYH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-86OPURV.cid-163078&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=86OPURV&cid=163078" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-ZCW2P0G.cid-163074&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=ZCW2P0G&cid=163074" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-VEWA2XH.cid-163073&lobby=casinoLobby-shop&pid=VEWA2XH&cid=163073" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.yetisFrostFortune2502.479.recommend.pid-RB0CJ67.cid-163070&game=rgs.slots&variant=t8g.yetisFrostFortune2502.479_recommend&lineCost=1&pid=RB0CJ67&cid=163070" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-M2CFP0X.cid-163071&lobby=casinoLobby-shop&pid=M2CFP0X&cid=163071" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-30-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-WNV71XV.cid-163072&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=WNV71XV&cid=163072" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=JYPMNCW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=CJIAF7C" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=NNYQYFX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=B6IGNA7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YOPFYY3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=XWLDAOZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=ZZQIPYF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.caskOLuck2503.483.recommend.pid-UQUTVEC.cid-163067&game=rgs.slots&variant=t8g.caskOLuck2503.483_recommend&lineCost=1&pid=UQUTVEC&cid=163067" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-FOJYAYV.cid-163054&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=FOJYAYV&cid=163054" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-OKDMM0W.cid-163066&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=OKDMM0W&cid=163066" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-GPYDBJ5.cid-163065&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=GPYDBJ5&cid=163065" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-XU7LL30.cid-163064&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=XU7LL30&cid=163064" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-28-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-SQFFAQX.cid-163053&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=SQFFAQX&cid=163053" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-PEBRNGZ.cid-163052&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=PEBRNGZ&cid=163052" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.smashThePiggy2503.485.recommend.pid-WWZ9GQB.cid-163051&game=rgs.slots&variant=t8g.smashThePiggy2503.485_recommend&lineCost=1&pid=WWZ9GQB&cid=163051" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.smashThePiggy2503.485.recommend.pid-YMUMIXW.cid-163050&game=rgs.slots&variant=t8g.smashThePiggy2503.485_recommend&lineCost=1&pid=YMUMIXW&cid=163050" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.oinkToChic2502.481.recommend.pid-B878KWU.cid-163049&game=rgs.slots&variant=t8g.oinkToChic2502.481_recommend&lineCost=1&pid=B878KWU&cid=163049" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.caskOLuck2503.483.recommend.pid-DV9ZTBU.cid-163060&game=rgs.slots&variant=t8g.caskOLuck2503.483_recommend&lineCost=1&pid=DV9ZTBU&cid=163060" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-TFXVAV7.cid-163046&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=TFXVAV7&cid=163046" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.oinkToChic2502.481.recommend.pid-SB0S5X2.cid-163059&game=rgs.slots&variant=t8g.oinkToChic2502.481_recommend&lineCost=1&pid=SB0S5X2&cid=163059" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.museumHeist2502.486.recommend.pid-0ZOBIV1.cid-163058&game=rgs.slots&variant=duc.museumHeist2502.486_recommend&lineCost=1&pid=0ZOBIV1&cid=163058" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-LETNZ4D.cid-163057&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=LETNZ4D&cid=163057" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.oinkToChic2502.481.pid-51C46DT.cid-163287&game=rgs.slots&variant=t8g.oinkToChic2502.481&lineCost=1&pid=51C46DT&cid=163287" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-27-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=6QI2AS1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=1SRJMWR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=HBPQO8G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=4YJ0PRE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=NC4GQWC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=H4FMESY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=2P0FY2K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.mbElephantKing1907.230.pid-CCD2LYX.cid-163045&game=rgs.slots&variant=seq.mbElephantKing1907.230&lineCost=1&pid=CCD2LYX&cid=163045" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.mbCats1908.244.pid-FTHSUHN.cid-163044&game=rgs.slots&variant=seq.mbCats1908.244&lineCost=1&pid=FTHSUHN&cid=163044" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.mbWolfRun1911.247.pid-5UH5YVQ.cid-163043&game=rgs.slots&variant=seq.mbWolfRun1911.247&lineCost=1&pid=5UH5YVQ&cid=163043" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.mbElephantKing1907.230.pid-UQTTLG1.cid-163042&game=rgs.slots&variant=seq.mbElephantKing1907.230&lineCost=1&pid=UQTTLG1&cid=163042" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-XR3PGHG.cid-163041&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=XR3PGHG&cid=163041" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YMQTLTN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=EGYEF0X" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=SPFXIHW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=ERJIR6I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=1VQMKQB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=UU9PMT7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.mbWolfRun1911.247.pid-PF7IZXL.cid-163038&game=rgs.slots&variant=seq.mbWolfRun1911.247&lineCost=1&pid=PF7IZXL&cid=163038" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.mbElephantKing1907.230.pid-NGRYXBQ.cid-163037&game=rgs.slots&variant=seq.mbElephantKing1907.230&lineCost=1&pid=NGRYXBQ&cid=163037" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.mbCats1908.244.pid-XRJ5POQ.cid-163036&game=rgs.slots&variant=seq.mbCats1908.244&lineCost=1&pid=XRJ5POQ&cid=163036" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.mbWolfRun1911.247.pid-CNULFJF.cid-163035&game=rgs.slots&variant=seq.mbWolfRun1911.247&lineCost=1&pid=CNULFJF&cid=163035" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-CSJBNPE.cid-163034&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=CSJBNPE&cid=163034" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-4DSD4QS.cid-162776&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=4DSD4QS&cid=162776" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-JLOHOSY.cid-162777&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=JLOHOSY&cid=162777" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-WU2VC4R.cid-162778&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=WU2VC4R&cid=162778" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.yetisFrostFortune2502.479.recommend.pid-BGGIBKZ.cid-162779&game=rgs.slots&variant=t8g.yetisFrostFortune2502.479_recommend&lineCost=1&pid=BGGIBKZ&cid=162779" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-2HNHQRU.cid-162780&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=2HNHQRU&cid=162780" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=HMA4KL5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=PIG2QDR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=VGMR7PF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=IYJ48SZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=EDFS9HL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=O1S9ZRP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=IAW9ILW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=SULC8RY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=130VYOX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=DKMBBOK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YLSXAKW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-4HQNRGY.cid-162772&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=4HQNRGY&cid=162772" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=Q0YTBCI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-Y83QBVN.cid-162771&lobby=casinoLobby-shop&pid=Y83QBVN&cid=162771" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>