<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-LQEE2ZJ.cid-162752&lobby=casinoLobby-shop&pid=LQEE2ZJ&cid=162752" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=CIWSU25" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=RYKS0OZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=CEDKRSF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=IIIZXGQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=7LQTPHB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=VZTWGZO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-FBH6UCS.cid-162783&lobby=slotsAll&pid=FBH6UCS&cid=162783" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-XZ8S5MD.cid-162764&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=XZ8S5MD&cid=162764" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.twistsOfLuck2503.482.recommend.pid-QN1OL3E.cid-162765&game=rgs.slots&variant=t8g.twistsOfLuck2503.482_recommend&lineCost=1&pid=QN1OL3E&cid=162765" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.werewolfWindfall2101.302.recommend.pid-IPANFMG.cid-162763&game=rgs.slots&variant=duc.werewolfWindfall2101.302_recommend&lineCost=1&pid=IPANFMG&cid=162763" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-7G4ISUA.cid-162761&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=7G4ISUA&cid=162761" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=BHBWCFD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=ZPQFAA2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=0OHHFYA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=IAUUKE6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YOYAQWK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=SCNE5O5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.superCoin20002410.463.recommend.pid-BIBTXCZ.cid-162758&game=rgs.slots&variant=duc.superCoin20002410.463_recommend&lineCost=1&pid=BIBTXCZ&cid=162758" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-PYQIDCV.cid-162757&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=PYQIDCV&cid=162757" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-RU7ENBQ.cid-162756&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=RU7ENBQ&cid=162756" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-5SYP5RX.cid-162755&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=5SYP5RX&cid=162755" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-1S4VXGU.cid-162754&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=1S4VXGU&cid=162754" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=HUE0SLS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=WZRHYCN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=5WAMRZS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=6Z84QUQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=2ECNMZ6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=PCY0YFF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.twistsOfLuck2503.482.recommend.pid-Q64PEP2.cid-162750&game=rgs.slots&variant=t8g.twistsOfLuck2503.482_recommend&lineCost=1&pid=Q64PEP2&cid=162750" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-GRRBHWN.cid-162749&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=GRRBHWN&cid=162749" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-AY8G4KD.cid-162747&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=AY8G4KD&cid=162747" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-NHSFTKH.cid-162748&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=NHSFTKH&cid=162748" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-BFT0AAF.cid-162746&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=BFT0AAF&cid=162746" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.greenLuck1903.206.recommend.pid-HS19GGB.cid-163088&game=rgs.slots&variant=duc.greenLuck1903.206_recommend&lineCost=1&pid=HS19GGB&cid=163088" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YIMO9X4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=TNJ2JAV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=ATJZAPI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=JYJEA4W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=CWRHU7N" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=XK2K7LN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-MRKHO5Z.cid-162743&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=MRKHO5Z&cid=162743" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-KEVVLW9.cid-162788&lobby=casinoLobby-shop&pid=KEVVLW9&cid=162788" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.yetisFrostFortune2502.479.recommend.pid-AIHBTBQ.cid-162787&game=rgs.slots&variant=t8g.yetisFrostFortune2502.479_recommend&lineCost=1&pid=AIHBTBQ&cid=162787" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-L4GFVB7.cid-162786&lobby=casinoLobby-shop&pid=L4GFVB7&cid=162786" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-ZEFTPOS.cid-162785&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=ZEFTPOS&cid=162785" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=0B5QGKB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=UVSWVL0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=JGULPQH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=I8SZYFU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=I8LXH2W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=SIAG3VQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.pixiesOfTheForest.recommend.pid-ZUI4UYB.cid-162742&game=rgs.slots&variant=rgs.pixiesOfTheForest_recommend&lineCost=250&pid=ZUI4UYB&cid=162742" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.pixiesOfTheForest.recommend.pid-1RAYJKC.cid-162741&game=rgs.slots&variant=rgs.pixiesOfTheForest_recommend&lineCost=250&pid=1RAYJKC&cid=162741" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.pixiesOfTheForest.recommend.pid-HWW9MNR.cid-162740&game=rgs.slots&variant=rgs.pixiesOfTheForest_recommend&lineCost=250&pid=HWW9MNR&cid=162740" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-XWWVSU2.cid-162739&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=XWWVSU2&cid=162739" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-JOEPO9V.cid-162738&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=JOEPO9V&cid=162738" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=UUGEG6H" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=ZQIKFMY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=GW1PIEI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=SYLSQQF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=OEDHE4L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=NAAFUJZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.pixiesOfTheForest.recommend.pid-OEDHE10.cid-162652&game=rgs.slots&variant=rgs.pixiesOfTheForest_recommend&lineCost=250&pid=OEDHE10&cid=162652" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-VZS1X7I.cid-162651&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=VZS1X7I&cid=162651" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.pixiesOfTheForest.recommend.pid-VGFDNQS.cid-162650&game=rgs.slots&variant=rgs.pixiesOfTheForest_recommend&lineCost=250&pid=VGFDNQS&cid=162650" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-L93XMJI.cid-162649&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=L93XMJI&cid=162649" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.daVinciDiamonds.recommend.pid-DAUJUMN.cid-162648&game=rgs.slots&variant=rgs.daVinciDiamonds_recommend&lineCost=500&pid=DAUJUMN&cid=162648" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=XZPQWHK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=OLZ9ODL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=QTB1MNA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=7KUUXBE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=R9FY54S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.rollingInMoreGoldTntBlast2503.488.recommend.pid-BKKI8WC.cid-162626&game=rgs.slots&variant=duc.rollingInMoreGoldTntBlast2503.488_recommend&lineCost=1&pid=BKKI8WC&cid=162626" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-X3XBEJZ.cid-162625&lobby=casinoLobby-shop&pid=X3XBEJZ&cid=162625" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-QCYWSZX.cid-162624&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=QCYWSZX&cid=162624" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-T54OD9L.cid-162623&lobby=casinoLobby-shop&pid=T54OD9L&cid=162623" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-BCSERJH.cid-162622&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=BCSERJH&cid=162622" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-6OIMRNQ.cid-162629&lobby=slotsAll&pid=6OIMRNQ&cid=162629" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-21HQS3E.cid-162619&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=21HQS3E&cid=162619" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-KR7XKI9.cid-162618&lobby=casinoLobby-shop&pid=KR7XKI9&cid=162618" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-VJGFZXH.cid-162617&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=VJGFZXH&cid=162617" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.hallowinFiesta2405.445.recommend.pid-WPK59CK.cid-162616&game=rgs.slots&variant=duc.hallowinFiesta2405.445_recommend&lineCost=1&pid=WPK59CK&cid=162616" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.yetisFrostFortune2502.479.recommend.pid-YAAAPD1.cid-162615&game=rgs.slots&variant=t8g.yetisFrostFortune2502.479_recommend&lineCost=1&pid=YAAAPD1&cid=162615" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=EEPXG4S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=UKMPCHJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=9DDYEC7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=QBP2UE3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=Z2WHT9W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=XNF5IGK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=JA9JSQT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=STAZZ0N" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YMLG1TD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=QFDSTQ6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=DHGK3EY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=FJTIPJK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.seq.tripleFortuneDragon2009.288.pid-LHCSDYP.cid-162802&game=rgs.slots&variant=seq.tripleFortuneDragon2009.288&lineCost=1&pid=LHCSDYP&cid=162802" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.rollingInMoreGoldTntBlast2503.488.recommend.pid-J6J3XXU.cid-162612&game=rgs.slots&variant=duc.rollingInMoreGoldTntBlast2503.488_recommend&lineCost=1&pid=J6J3XXU&cid=162612" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.twistsOfLuck2503.482.recommend.pid-2NYIAXS.cid-162645&game=rgs.slots&variant=t8g.twistsOfLuck2503.482_recommend&lineCost=1&pid=2NYIAXS&cid=162645" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-QQH8BO6.cid-162611&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=QQH8BO6&cid=162611" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>