<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://zynga.social/zuex" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/o684isax" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://zynga.social/vjs5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://zynga.social/c1baf7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/icjj2ev9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://zynga.social/4cd365" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://zynga.social/431437" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://zynga.social/b8fac0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://zynga.social/a85d8e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/bfanco8f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://zynga.social/bcda56" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://zynga.social/2f9bf9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://zynga.social/564f1f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://zynga.social/1393eb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/6aoibjqi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://zynga.social/t70e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://zynga.social/s6v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/r7orehwe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://zynga.social/5ee22b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://zynga.social/t9gp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://zynga.social/zpvu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-02-2025</span>
    <a href="https://zynga.social/yivk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-01-2025</span>
    <a href="https://zynga.social/0bf0c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/2b6guvoq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://zynga.social/a8yk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-26-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/4c4k24gf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-26-2025</span>
    <a href="https://zynga.social/456486" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-24-2025</span>
    <a href="https://zynga.social/6a7420" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-22-2025</span>
    <a href="https://zynga.social/b831ba" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-21-2025</span>
    <a href="https://zynga.social/icsi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-20-2025</span>
    <a href="https://zynga.social/g1tv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-19-2025</span>
    <a href="https://zynga.social/h5g7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-17-2025</span>
    <a href="https://zynga.social/4vw4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-16-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/t6vr49gn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-16-2025</span>
    <a href="https://zynga.social/5218e7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-14-2025</span>
    <a href="https://zynga.social/256bb8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-13-2025</span>
    <a href="https://zynga.social/grqi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-12-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/a8sw2uc7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-12-2025</span>
    <a href="https://zynga.social/20fe56" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-11-2025</span>
    <a href="https://zynga.social/jhmf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-10-2025</span>
    <a href="https://zynga.social/0e4aec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-08-2025</span>
    <a href="https://zynga.social/f47fcd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-07-2025</span>
    <a href="https://zynga.social/0wfm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-06-2025</span>
    <a href="https://zynga.social/a60b6e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-05-2025</span>
    <a href="https://zynga.social/7k7t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-01-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/fkm1cqhb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-01-2025</span>
    <a href="https://zynga.social/oqzq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-31-2025</span>
    <a href="https://zynga.social/048l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-30-2025</span>
    <a href="https://zynga.social/5szw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-29-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/sqa9w88k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-29-2025</span>
    <a href="https://zynga.social/jxqu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-28-2025</span>
    <a href="https://zynga.social/ucz4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-26-2025</span>
    <a href="https://zynga.social/orfk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-25-2025</span>
    <a href="https://zynga.social/ea5e9f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-24-2025</span>
    <a href="https://zynga.social/eze8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-23-2025</span>
    <a href="https://zynga.social/ey0b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-22-2025</span>
    <a href="https://zynga.social/0i38" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-21-2025</span>
    <a href="https://zynga.social/gx3d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-20-2025</span>
    <a href="https://zynga.social/wtjb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-18-2025</span>
    <a href="https://zynga.social/jwia" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-17-2025</span>
    <a href="https://zynga.social/494ba2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-16-2025</span>
    <a href="https://zynga.social/jhw4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-15-2025</span>
    <a href="https://zynga.social/cjpz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-14-2025</span>
    <a href="https://zynga.social/oayn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-13-2025</span>
    <a href="https://zynga.social/v25m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-12-2025</span>
    <a href="https://zynga.social/99ec0c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-11-2025</span>
    <a href="https://zynga.social/92bfe5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-10-2025</span>
    <a href="https://zynga.social/7cp5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-09-2025</span>
    <a href="https://gotslots.onelink.me/bOrX/0z64w764" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-09-2025</span>
    <a href="https://zynga.social/4c8cc7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-08-2025</span>
    <a href="https://zynga.social/xqio" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-07-2025</span>
    <a href="https://zynga.social/ceox" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-06-2025</span>
    <a href="https://zynga.social/4iw1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-05-2025</span>
    <a href="https://zynga.social/1fhx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-04-2025</span>
    <a href="https://zynga.social/b2sa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-03-2025</span>
    <a href="https://zynga.social/tpnl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-02-2025</span>
    <a href="https://zynga.social/9fec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-01-2025</span>
    <a href="https://zynga.social/fm5m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-30-2024</span>
    <a href="https://zynga.social/awvm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-29-2024</span>
    <a href="https://zynga.social/n523" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-27-2024</span>
    <a href="https://zynga.social/d3xc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-26-2024</span>
    <a href="https://zynga.social/ipwj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-25-2024</span>
    <a href="https://gotslots.onelink.me/bOrX/n9e6lb4e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-25-2024</span>
    <a href="https://zynga.social/o9ve" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-24-2024</span>
    <a href="https://zynga.social/yj7w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-23-2024</span>
    <a href="https://gotslots.onelink.me/bOrX/1syu17zv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-23-2024</span>
    <a href="https://zynga.social/vtcc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-22-2024</span>
    <a href="https://zynga.social/9uq2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-21-2024</span>
    <a href="https://zynga.social/jcxf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-20-2024</span>
    <a href="https://gotslots.onelink.me/bOrX/4pqvhh6j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-20-2024</span>
    <a href="https://zynga.social/016v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-19-2024</span>
    <a href="https://zynga.social/8d3q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-18-2024</span>
    <a href="https://zynga.social/fd6u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-16-2024</span>
    <a href="https://zynga.social/5p2s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-16-2024</span>
    <a href="https://zynga.social/vohj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-14-2024</span>
    <a href="https://zynga.social/ximv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-13-2024</span>
    <a href="https://zynga.social/233q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-12-2024</span>
    <a href="https://zynga.social/wd20" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-11-2024</span>
    <a href="https://zynga.social/4vvf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 12-11-2024</span>
    <a href="https://gotslots.onelink.me/bOrX/51wtk75w" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>