<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D21_07&s_id=1060&deeplink=eyJpZCI6IjkzNDQ2OWM3LTFlMWEtNDE1YS05NjdlLTdlMGFlMTVmM2IwMSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D20_23&s_id=1060&deeplink=eyJpZCI6ImQwOWRiZDgzLWZkZGEtNDc1Zi1hOWE4LTM0ZTRmMjRiMWEyZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D20_19&s_id=1060&deeplink=eyJpZCI6IjVjZWEyMDY5LTg2YjYtNGFiMi1hOGZhLTE2YThlMTU4NTUzYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 07-29-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjAyMTRjNDZjLWU5M2MtNGE2Yy1hNTIzLTJhMDVjMWQ3N2UyZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 07-29-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNiMzlkZjIzLTRlMmEtNGNmNC1hNzkzLTQ2MzQ0NGM0N2VlMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjUyNzhiYjYyLWM1YjItNGZkNi1hMmVlLWVkMTMwODY1NDhkNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjIwYWNiYTZlLTBmZTAtNDVlOS1hYzE2LTk0MjM4OTEyNTVlYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQ2ZjQ4MjZmLWMzODUtNDJlZS1iNzM0LThiYWQwMzVjNzQ2OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D20_07&s_id=1060&deeplink=eyJpZCI6ImQ2NmU1MGY5LWJiZGMtNDViOC1hNzk0LTk5OTQyMjA3ZWMwOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D19_23&s_id=1060&deeplink=eyJpZCI6IjcyZTNiNjI4LWNlMDUtNGI0ZC1iMTk2LWZmNjI4ZTNjY2YwOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D19_19&s_id=1060&deeplink=eyJpZCI6IjIwYWNiYTZlLTBmZTAtNDVlOS1hYzE2LTk0MjM4OTEyNTVlYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQ4MjNlYTIyLTY0YjYtNDQzMC05YWUxLTgyN2JiZDg0Nzc1ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImVmYmQ5NmNmLWQ0YWUtNDM4NS1iOGYxLWVkZmYxMzA0ZjhiNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjAyNzU5N2Y2LWE4ZGMtNDJjMS1iOGJlLWE5MWUwNjhiYjIwMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D19_07&s_id=1060&deeplink=eyJpZCI6IjQ4MjNlYTIyLTY0YjYtNDQzMC05YWUxLTgyN2JiZDg0Nzc1ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D18_23&s_id=1060&deeplink=eyJpZCI6IjAyNzU5N2Y2LWE4ZGMtNDJjMS1iOGJlLWE5MWUwNjhiYjIwMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D18_19&s_id=1060&deeplink=eyJpZCI6ImVmYmQ5NmNmLWQ0YWUtNDM4NS1iOGYxLWVkZmYxMzA0ZjhiNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D18_07&s_id=1060&deeplink=eyJpZCI6ImZhNGVlNmNkLTA0ZjQtNDRlZC05ZjQ1LTI4MWM4OGI1MTMwMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D17_23&s_id=1060&deeplink=eyJpZCI6ImZkNmQwYjg2LTE0N2ItNDE2MC1iNzY4LWM5YjAxMGNhMjBiNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D17_19&s_id=1060&deeplink=eyJpZCI6ImZkYjRiYWZjLTNjZTktNDM5ZC04YzNmLTM0MzA4Y2Y0MTg1YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjY4NmRlMzI5LWJkOWQtNGNhYy05YjZmLWU3MzdkZGNmMzZhNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQyNGZjOTRlLWYyYjYtNDE2ZS05NmNmLTUwNzNhZmZjYjZkYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjA2ZWQ1NjQ1LTQ2ZjMtNDQxMC1hYzgyLTU3OTQ3ZGQ3NTEyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijk5MGJjMjZkLTFjOTQtNDM5ZC05YjQ4LWM1MzBiMjE4YWM1MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjRiZmViODA3LWYxYWItNGQwMy04Mzg2LTg2NjkxYTkxYWE4ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImZkYTllM2RmLWYyNTYtNGEyNS1hMmU2LTFiZjg1NWI0ZTU1ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D17_07&s_id=1060&deeplink=eyJpZCI6IjRiZmViODA3LWYxYWItNGQwMy04Mzg2LTg2NjkxYTkxYWE4ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D16_23&s_id=1060&deeplink=eyJpZCI6IjA2ZWQ1NjQ1LTQ2ZjMtNDQxMC1hYzgyLTU3OTQ3ZGQ3NTEyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D16_19&s_id=1060&deeplink=eyJpZCI6Ijk5MGJjMjZkLTFjOTQtNDM5ZC05YjQ4LWM1MzBiMjE4YWM1MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D16_07&s_id=1060&deeplink=eyJpZCI6IjdhNzk1OWZhLWE0NDMtNDRhMS04YzBiLWVmZmMwNTA5NjJmNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjIwNTAyNWVkLTgzODgtNDliZC05YTVhLWZjZjQwN2I1ODk3NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImVlMTk5MzU3LWU0NzktNDU0NC1hNDhhLWFlZWViMmRiNDdhZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI1NmQ4YTE5LTU4NzAtNDI2ZS04MWQwLTQ3Nzc3ZDk2ZTc0YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjllMGJlYTFjLWM5MGYtNGUyZC1iMDBjLWZmOWQyNTE0M2Q2MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImMwYmFlM2IyLWYyMTctNDAyMC1iNGY3LWI1NjYyM2I5ZDA5YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D15_07&s_id=1060&deeplink=eyJpZCI6IjE1MjAxZGU2LWY2MzktNDYwOS05N2QwLTNlNDczMmQ0ZDgyYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D14_23&s_id=1060&deeplink=eyJpZCI6ImNmODIxMTk5LTJkYmUtNDYyMS05NzU3LWY0ZWZkODM5NTZhMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D14_19&s_id=1060&deeplink=eyJpZCI6IjEwY2Q4ZDdlLTg5ZDYtNDUwYS1iZjg3LTdlMGQ2NzI2ZDdmOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjEwZDllNDBiLWIwNWYtNGI3Mi04MDVlLWQ1ZWFjYjYxNjE4YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImIwMDJjYmYzLWUxMjQtNDNlOC05MTJiLTZhMGI5ZmRmZjE4YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImM4Y2Q2YmUzLWM1NTQtNGY2Mi1hNTRiLTU0OGM4ZjJkMzMwNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImUxNTIxNDcwLTM2YTctNGVlZC04YWI2LTdkZGM5YWU4YzI0YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D14_07&s_id=1060&deeplink=eyJpZCI6ImExOTM5OTI5LWVlYTQtNGViOS05OWY1LTI5YjVlNjA5OWFlYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D13_23&s_id=1060&deeplink=eyJpZCI6ImM4Y2Q2YmUzLWM1NTQtNGY2Mi1hNTRiLTU0OGM4ZjJkMzMwNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D13_19&s_id=1060&deeplink=eyJpZCI6ImUxNTIxNDcwLTM2YTctNGVlZC04YWI2LTdkZGM5YWU4YzI0YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImZlNDU2N2IzLTgxOTAtNDEzNy05NWFjLWQyZWQ5MjIzMWRiNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQzYzAxMTE5LWZiYWQtNDRiNi05NTE5LWEwOWRkY2YxZDE5YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjJiNWZhOWYxLWI2N2QtNGMyNy04YWEyLTI3ODExY2MxNjc2YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImUzOThjOWE5LWJlMTItNGI5MC1iZDY0LTIzZjE4YmQ2MDg2NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D13_07&s_id=1060&deeplink=eyJpZCI6Ijc0MDRhNzAzLWQ3MTAtNDE5MS04NTkzLWNlMDNiNzZkOTBjNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D12_23&s_id=1060&deeplink=eyJpZCI6Ijg5NmQ0ZTdlLWE2MTQtNGZhZi04ZDZmLTRiOGViMzFlYTBjYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-13-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D12_19&s_id=1060&deeplink=eyJpZCI6IjhmNjVlOGI0LWJkMDgtNGRlNC1hMGQ0LWExYjYwNTU5ZjgyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImU2NTlkM2JkLTIzNzctNDVhMi05Zjg0LTFjMTVkMzgyMzI5MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBkMzQyNzI1LWM2YzQtNDgxZi05Y2Q4LTc3NWQ5MjU3YTU1NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjY4NzExNjZjLTMwMmMtNDUxYy04OWI0LWMxYTE5ZGE2ZmE3NiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D12_07&s_id=1060&deeplink=eyJpZCI6IjkwYjYyZTkwLTBlMGEtNGMxNS1hMmJjLTE2NjFiOGVhNTc4ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D11_23&s_id=1060&deeplink=eyJpZCI6Ijc5Yzc5ZjY4LTg4NzktNDFhNC05ZmI2LWUxNmExMzk4MzdlOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D11_19&s_id=1060&deeplink=eyJpZCI6IjFhYzNiYjhlLTliZDYtNGFhYS1iNGY5LTQ5NDA4NjhhMTNmYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D11_07&s_id=1060&deeplink=eyJpZCI6IjcwMjljZWZhLTgyMGQtNDgwYi1iZjNhLWU1NWZjOTY0NDU4NiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D10_23&s_id=1060&deeplink=eyJpZCI6IjViM2QzOTY4LWZlODAtNDI2Yy1iNjExLTZlYjY5ZDM3MGZhNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D10_19&s_id=1060&deeplink=eyJpZCI6ImQ5NTBkMTQ5LTY2OTEtNDAxYS04MTllLWY2ZTczN2JjYmRmZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjA4Mzc5ZmU5LTE0ODAtNDk3NC05ZGU3LWQzNWI2ZDEzYTk3MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjEwYjU4NTEyLTQyZGYtNDE5Yi1iYjg4LTMzZWExYTM4YmM2ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjlmODU2Y2VjLWY4MzAtNDA5ZC1hOGE5LTJmMGMxMDk3MzMyNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQ0MzAyNDgzLTQwOWMtNGJlZi05ODYyLTlhYWQ5NDA4YmMyOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImYxYThiMTQzLTQxNTMtNGM2ZS1iZjYxLWIxOWMwYzUzYzM0YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D10_07&s_id=1060&deeplink=eyJpZCI6ImYxYThiMTQzLTQxNTMtNGM2ZS1iZjYxLWIxOWMwYzUzYzM0YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D9_23&s_id=1060&deeplink=eyJpZCI6ImQ0MzAyNDgzLTQwOWMtNGJlZi05ODYyLTlhYWQ5NDA4YmMyOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D9_19&s_id=1060&deeplink=eyJpZCI6IjEwYjU4NTEyLTQyZGYtNDE5Yi1iYjg4LTMzZWExYTM4YmM2ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImVlNGIyMjY4LTViZTQtNDFmZi04MDE1LWQyOGY0ZTUwYzRiYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjlhNmIzMWVkLTg2NGEtNDc4Ny1hOGI0LWI4NmE0ZjVjZWUwNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjY3OTQwOTZiLWQyMjYtNGU5Mi05M2UxLWNlNjBmNDZkOWJlNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D9_07&s_id=1060&deeplink=eyJpZCI6ImVlNGIyMjY4LTViZTQtNDFmZi04MDE1LWQyOGY0ZTUwYzRiYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D8_23&s_id=1060&deeplink=eyJpZCI6ImQ0N2M1N2U1LTg2MzctNDYyMS1iY2E1LWQyMmNiMzBlNTdhYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D8_19&s_id=1060&deeplink=eyJpZCI6IjMwOGUwMjJmLWM2NjEtNDYwYy04ZTY5LTBhOWFmYWQ2MTY5MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjlmNjA0MTMwLTA1YTgtNDFjOC04NmRlLTQ5OTBmYjBhNjBiZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI2MGU2ZTc4LWNlMWYtNDYxZC04NmNkLWVjNDZiYWE2MGE5NSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImU0Njg1MGYzLTJhZjktNDE1MS1iMWM3LTI5YzhlZjYyYTdhZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D8_07&s_id=1060&deeplink=eyJpZCI6IjRhZjUwOGU5LTZkOWItNGY4Yy1iN2VjLTRiMzNjZTEwNDJiNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D7_23&s_id=1060&deeplink=eyJpZCI6IjBhMTE3ZDliLTFkNWEtNDcyNS05YjU4LTE3OTk3YjY3MjNlYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D7_19&s_id=1060&deeplink=eyJpZCI6IjY4YzdlMGNmLWFlOGItNGRmOS05YWY1LWJiYjE1OTM1YmQ2MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImIxOWZjYjJhLWY4MjEtNGUzZS1hM2M5LTdhZDlhMjBmYzM0NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjY5Yjg0NTk5LTkyMDItNDgxMi1hNWMwLTlmYzUyMGU5YzkyMSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijc3MzBhNjRlLTg2NWMtNDI0NC04MzZjLTM0MTA5ODRkNjJiYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImU3YmM5YTU5LWU0OGQtNDU0OC1hYzllLTBjNzNmYmMwNjczYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D6_23&s_id=1060&deeplink=eyJpZCI6ImU3YmM5YTU5LWU0OGQtNDU0OC1hYzllLTBjNzNmYmMwNjczYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D6_19&s_id=1060&deeplink=eyJpZCI6IjI0MGZhOGVmLTEyZDEtNGZjYy04YzcxLTNmYTE5NGZmYmRkOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D6_07&s_id=1060&deeplink=eyJpZCI6IjA3YWI0MGQ3LWE3YmEtNDI5Zi1iYjNjLWU2MzA2N2RjZTEwNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D5_23&s_id=1060&deeplink=eyJpZCI6Ijg3NzIxNjM1LWY3MjEtNDAxMS04NmU0LWQyMjU4NzIzNDYxZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D5_19&s_id=1060&deeplink=eyJpZCI6IjU0MjYwZWJkLWRiYTEtNGRjYS1iMWM0LWQzMGI5YmYxYzFiMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjM2ZTRmZDM3LTZhZjMtNDY1Ni1hOWM3LTEyM2M0ZDM4YmU1MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImZlZjFiYWVjLTkxM2EtNDBhMS05NGE0LWEyMDgxYjRjNGNhMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjU5ZjBmZjIxLTJiOGQtNGM4ZS05MDViLTk4NzUyMDVlMGY5ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D5_07&s_id=1060&deeplink=eyJpZCI6ImVjNDNhMmY4LWM4YTAtNDYxNS1hYzg2LWE0ZDAwN2I3ZjZlMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D4_23&s_id=1060&deeplink=eyJpZCI6IjM2ZTRmZDM3LTZhZjMtNDY1Ni1hOWM3LTEyM2M0ZDM4YmU1MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D4_19&s_id=1060&deeplink=eyJpZCI6ImZlZjFiYWVjLTkxM2EtNDBhMS05NGE0LWEyMDgxYjRjNGNhMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D4_07&s_id=1060&deeplink=eyJpZCI6IjQ1ZjdiNjZlLTFhYjYtNDA1Yi1iYzZjLWRiYzZkNmFlM2NjNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D3_23&s_id=1060&deeplink=eyJpZCI6ImUyZjk3NTBhLTkyMzMtNGNkOC1hNzk2LWQ5N2ZmYzVhOTk4MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D3_19&s_id=1060&deeplink=eyJpZCI6IjJjYTU4ZGM2LTA1NzctNDU4MS1iN2Y0LWViNDRjOTdhNDg2NSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D3_07&s_id=1060&deeplink=eyJpZCI6IjRjZDk5NjExLWE5NTEtNDA5MC1hOGFlLTg1MjAzOGMxMzdhNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>