<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M4D1_07&s_id=1060&deeplink=eyJpZCI6IjYxNjJmMGZhLTU3NjgtNDQyYi05YWVmLTk0OTQ0YjY0MDFmZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D31_23&s_id=1060&deeplink=eyJpZCI6ImJkMTczMmY1LTgxMjAtNDcyNC04YmYzLTcxMmRkN2E5NDQwNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D31_19&s_id=1060&deeplink=eyJpZCI6ImQ4MmMzMWFkLTIzODEtNGM4ZS04NmFhLTA4ZmNiNGMwNzYyMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImFiMzdhNjIwLWU3NGItNDAwMi05NmFjLWUwYzg2Nzk4MjliNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjdiMjNhNDFiLTU3ZGEtNDVmNy05NDBlLTY5YTIyYzRmYzVlZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImY5YTU3ZTZhLTViNWEtNDc5NS04ZjBlLWMxMzExMDk5Mzk4YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjU3ZjFkMjA1LTU4OTUtNGFkZS04Y2U2LTFlMmQ5ZDUwZjRhMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImExOTgzNDliLTNhODctNDgwYy1iMTBhLWVmNGMzMjE2MjNlMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-31-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D31_07&s_id=1060&deeplink=eyJpZCI6IjhjODMzODBhLWYwZTEtNDhkYy1hNjA5LTE2ZjkwYTc1YTFlZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-31-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D30_23&s_id=1060&deeplink=eyJpZCI6ImY5YTU3ZTZhLTViNWEtNDc5NS04ZjBlLWMxMzExMDk5Mzk4YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-31-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D30_19&s_id=1060&deeplink=eyJpZCI6IjdiMjNhNDFiLTU3ZGEtNDVmNy05NDBlLTY5YTIyYzRmYzVlZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D30_07&s_id=1060&deeplink=eyJpZCI6IjBkOTcwM2VjLTg5NTUtNGNiMS04ZTQ5LWZkMjIxM2JiMzE0ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D29_23&s_id=1060&deeplink=eyJpZCI6ImUwN2YxNzBmLTU5ODYtNDFkNi04NmFhLTRiZDk5NWZiYzA3MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D29_19&s_id=1060&deeplink=eyJpZCI6Ijg0OTZlZjc4LWM0YzUtNDM5MC1hNjEwLWEwNjMzNjI2MmVkNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 07-29-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjAyMTRjNDZjLWU5M2MtNGE2Yy1hNTIzLTJhMDVjMWQ3N2UyZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 07-29-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNiMzlkZjIzLTRlMmEtNGNmNC1hNzkzLTQ2MzQ0NGM0N2VlMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjIzN2I4MDAzLTUyN2YtNGRhMS1hYTQ0LWZmYmVjZTZhZTA2NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjdlYzViMzQzLTkzYjUtNDhhMS04MTU3LTI3NmYzYWNjNTI4YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjllOGY3Mzk4LWQyYTYtNDdlNy1iMzc2LTdiMjhlZDliZTdmMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijc3OWU2ZGVjLWFhM2MtNDJjNC1iYTkxLTQxNmRjODZlNzczNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D29_07&s_id=1060&deeplink=eyJpZCI6IjIzN2I4MDAzLTUyN2YtNGRhMS1hYTQ0LWZmYmVjZTZhZTA2NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D28_23&s_id=1060&deeplink=eyJpZCI6Ijc3OWU2ZGVjLWFhM2MtNDJjNC1iYTkxLTQxNmRjODZlNzczNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D28_19&s_id=1060&deeplink=eyJpZCI6IjllOGY3Mzk4LWQyYTYtNDdlNy1iMzc2LTdiMjhlZDliZTdmMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijg1ZWI2Y2E1LWY5NmYtNDc3NC05MWRmLWQyZTY3MTU5ZGFkOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNjZTcwZDlhLTJlYjYtNDM0NC04MzM0LTVmMDY3OTgwMTdmYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImYxODg4MjQzLTQ3NzctNGUyMy1hNjFmLWI4OTliMWJmZjc0MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D28_07&s_id=1060&deeplink=eyJpZCI6ImYwOGYyYmIwLWQwYzUtNGI2Ny1iNTgwLWUxZGQ1MWExZTQ3YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D27_23&s_id=1060&deeplink=eyJpZCI6ImYxODg4MjQzLTQ3NzctNGUyMy1hNjFmLWI4OTliMWJmZjc0MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D27_19&s_id=1060&deeplink=eyJpZCI6IjRkYmJiOGY1LTU4NDYtNGFlNS1hN2EwLWRjYjBjYTdjZjExOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImY0NmJlZmNhLTEyM2EtNDBkZS1hNTBkLWI5MWM4MzBmNWZkMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImRmMGM3NzIwLWViNDItNGExZC1iYzAyLTY4ZjYzNmFjMjY5YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D27_07&s_id=1060&deeplink=eyJpZCI6IjNjZTcwZDlhLTJlYjYtNDM0NC04MzM0LTVmMDY3OTgwMTdmYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D26_23&s_id=1060&deeplink=eyJpZCI6ImY0NmJlZmNhLTEyM2EtNDBkZS1hNTBkLWI5MWM4MzBmNWZkMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D26_19&s_id=1060&deeplink=eyJpZCI6ImRmMGM3NzIwLWViNDItNGExZC1iYzAyLTY4ZjYzNmFjMjY5YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI0YzljNzEwLTY0MWEtNGMxOC1hMzk4LWFmYzgxOGU3YmIyYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjFiYzNjMjM0LTAyNzQtNGJkZC1hZGNlLTYyNmFlYzZiMDhlYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D26_07&s_id=1060&deeplink=eyJpZCI6IjI0YzljNzEwLTY0MWEtNGMxOC1hMzk4LWFmYzgxOGU3YmIyYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D25_23&s_id=1060&deeplink=eyJpZCI6IjE0YzFlYTQwLWRjM2UtNDQyYS1hZjEyLTRkN2NkZjg3NGNlYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D25_19&s_id=1060&deeplink=eyJpZCI6ImIwYzRiYmM4LTk1NzgtNDJkZS1iNjNmLTYzYmU0NmFiNjQxYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjJhMzYxYzUyLTc3ZDAtNDk4Yi1iNTNhLTgyM2MyYzhjZDRjOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNkYWYzZGQ4LTU5ZDEtNDI5NS04ZjQ3LTViYWE1M2MzMjI1MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjdmYWVmMzRiLTJiMjQtNDBkYy1hNzY1LWFkOThmOWVlYjMyOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImMyMDA4OWRkLWVjZDQtNDg5MS1hYmZlLTA2N2U0MWUxNzc3MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-25-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D25_07&s_id=1060&deeplink=eyJpZCI6IjJhMzYxYzUyLTc3ZDAtNDk4Yi1iNTNhLTgyM2MyYzhjZDRjOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-25-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D24_23&s_id=1060&deeplink=eyJpZCI6IjM0ZjIwYzJmLWU2ZmQtNDM5Yy1iZmE2LWI3MDY5MDRhZWM5MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-25-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D24_19&s_id=1060&deeplink=eyJpZCI6IjlkZjUzZGUxLTNlNzMtNGViYi05MzAyLTFmNDU3MDNjNGEyNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-25-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjljN2IzYjRiLThlYmItNGFkNy05NzI0LTlhMDZjODljZmEyZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-25-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImU3MTJiNzkyLThmNTQtNDc5ZC04NTA5LTEwOGMxNTRjNDQ5MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-25-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImViOGE2ZDBkLWU0MDMtNGZiZC04Y2I5LThkNTQ0MDFmMDgyMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-25-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjExOTZlZmI0LTEzM2EtNDFmNy1hOGRjLTBlMDE2MmMwOTg4YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D24_07&s_id=1060&deeplink=eyJpZCI6IjcyMTE2ODZhLTNhOWItNDRlNS1hOWRjLWU5MDQ5ODc5YzMyYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D23_23&s_id=1060&deeplink=eyJpZCI6ImY4N2E3N2MxLTYwOTUtNGUzMy1hZWVkLWZmMDZkNDNiMWEwNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D23_19&s_id=1060&deeplink=eyJpZCI6ImViOGE2ZDBkLWU0MDMtNGZiZC04Y2I5LThkNTQ0MDFmMDgyMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImU5NDA1MTMxLWE3ZWMtNGNiZS1iN2Q4LTdhZmRhYzFiZTJiYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjgxMGI0OWRiLTA5YmEtNDBkYi04OThkLWU1OWNkZmM3YTg5MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZiYjM1MDBlLTgyN2EtNDNmZC04Y2VhLWZhMWZkMDA1ZGUyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImI3ZGI2YWE0LTA3ODAtNGU0ZS1hM2M5LWExYjMxNTNlZTczZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImEyNzY1NTJmLWQ1ZGItNGU1My04ZTBhLTU3NDY3NWY0ZmM1MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D22_23&s_id=1060&deeplink=eyJpZCI6IjZiYjM1MDBlLTgyN2EtNDNmZC04Y2VhLWZhMWZkMDA1ZGUyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D22_19&s_id=1060&deeplink=eyJpZCI6ImVkNTA5NGRkLWMxZTItNDVlMC05NDk5LTcxZDllZmUwYjc5YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D22_07&s_id=1060&deeplink=eyJpZCI6Ijc2ZTVmZTRlLWRkY2MtNDZmNC05MmYxLTUxYzQxY2M4NTNhNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D21_23&s_id=1060&deeplink=eyJpZCI6Ijk1YzNmM2ZiLWNhZTQtNDk0MS05NTY0LTgzMzcyNjZjMjJiMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D21_19&s_id=1060&deeplink=eyJpZCI6ImE2MmU1OTgxLTVkNzgtNGRhMi1hMTI2LTU1YTM4NjMzODBlNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQwOWRiZDgzLWZkZGEtNDc1Zi1hOWE4LTM0ZTRmMjRiMWEyZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImUzYjQ3ODk3LTY3M2QtNGYxMC05YjQ3LTRiZGY3NTQ5YzIyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjVjZWEyMDY5LTg2YjYtNGFiMi1hOGZhLTE2YThlMTU4NTUzYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D21_07&s_id=1060&deeplink=eyJpZCI6IjkzNDQ2OWM3LTFlMWEtNDE1YS05NjdlLTdlMGFlMTVmM2IwMSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D20_23&s_id=1060&deeplink=eyJpZCI6ImQwOWRiZDgzLWZkZGEtNDc1Zi1hOWE4LTM0ZTRmMjRiMWEyZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D20_19&s_id=1060&deeplink=eyJpZCI6IjVjZWEyMDY5LTg2YjYtNGFiMi1hOGZhLTE2YThlMTU4NTUzYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjUyNzhiYjYyLWM1YjItNGZkNi1hMmVlLWVkMTMwODY1NDhkNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjIwYWNiYTZlLTBmZTAtNDVlOS1hYzE2LTk0MjM4OTEyNTVlYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQ2ZjQ4MjZmLWMzODUtNDJlZS1iNzM0LThiYWQwMzVjNzQ2OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D20_07&s_id=1060&deeplink=eyJpZCI6ImQ2NmU1MGY5LWJiZGMtNDViOC1hNzk0LTk5OTQyMjA3ZWMwOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D19_23&s_id=1060&deeplink=eyJpZCI6IjcyZTNiNjI4LWNlMDUtNGI0ZC1iMTk2LWZmNjI4ZTNjY2YwOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D19_19&s_id=1060&deeplink=eyJpZCI6IjIwYWNiYTZlLTBmZTAtNDVlOS1hYzE2LTk0MjM4OTEyNTVlYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQ4MjNlYTIyLTY0YjYtNDQzMC05YWUxLTgyN2JiZDg0Nzc1ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImVmYmQ5NmNmLWQ0YWUtNDM4NS1iOGYxLWVkZmYxMzA0ZjhiNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-20-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjAyNzU5N2Y2LWE4ZGMtNDJjMS1iOGJlLWE5MWUwNjhiYjIwMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D19_07&s_id=1060&deeplink=eyJpZCI6IjQ4MjNlYTIyLTY0YjYtNDQzMC05YWUxLTgyN2JiZDg0Nzc1ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D18_23&s_id=1060&deeplink=eyJpZCI6IjAyNzU5N2Y2LWE4ZGMtNDJjMS1iOGJlLWE5MWUwNjhiYjIwMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D18_19&s_id=1060&deeplink=eyJpZCI6ImVmYmQ5NmNmLWQ0YWUtNDM4NS1iOGYxLWVkZmYxMzA0ZjhiNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D18_07&s_id=1060&deeplink=eyJpZCI6ImZhNGVlNmNkLTA0ZjQtNDRlZC05ZjQ1LTI4MWM4OGI1MTMwMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D17_23&s_id=1060&deeplink=eyJpZCI6ImZkNmQwYjg2LTE0N2ItNDE2MC1iNzY4LWM5YjAxMGNhMjBiNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D17_19&s_id=1060&deeplink=eyJpZCI6ImZkYjRiYWZjLTNjZTktNDM5ZC04YzNmLTM0MzA4Y2Y0MTg1YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjY4NmRlMzI5LWJkOWQtNGNhYy05YjZmLWU3MzdkZGNmMzZhNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQyNGZjOTRlLWYyYjYtNDE2ZS05NmNmLTUwNzNhZmZjYjZkYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjA2ZWQ1NjQ1LTQ2ZjMtNDQxMC1hYzgyLTU3OTQ3ZGQ3NTEyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijk5MGJjMjZkLTFjOTQtNDM5ZC05YjQ4LWM1MzBiMjE4YWM1MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjRiZmViODA3LWYxYWItNGQwMy04Mzg2LTg2NjkxYTkxYWE4ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImZkYTllM2RmLWYyNTYtNGEyNS1hMmU2LTFiZjg1NWI0ZTU1ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D17_07&s_id=1060&deeplink=eyJpZCI6IjRiZmViODA3LWYxYWItNGQwMy04Mzg2LTg2NjkxYTkxYWE4ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D16_23&s_id=1060&deeplink=eyJpZCI6IjA2ZWQ1NjQ1LTQ2ZjMtNDQxMC1hYzgyLTU3OTQ3ZGQ3NTEyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D16_19&s_id=1060&deeplink=eyJpZCI6Ijk5MGJjMjZkLTFjOTQtNDM5ZC05YjQ4LWM1MzBiMjE4YWM1MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D16_07&s_id=1060&deeplink=eyJpZCI6IjdhNzk1OWZhLWE0NDMtNDRhMS04YzBiLWVmZmMwNTA5NjJmNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjIwNTAyNWVkLTgzODgtNDliZC05YTVhLWZjZjQwN2I1ODk3NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImVlMTk5MzU3LWU0NzktNDU0NC1hNDhhLWFlZWViMmRiNDdhZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI1NmQ4YTE5LTU4NzAtNDI2ZS04MWQwLTQ3Nzc3ZDk2ZTc0YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjllMGJlYTFjLWM5MGYtNGUyZC1iMDBjLWZmOWQyNTE0M2Q2MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImMwYmFlM2IyLWYyMTctNDAyMC1iNGY3LWI1NjYyM2I5ZDA5YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2025M3D15_07&s_id=1060&deeplink=eyJpZCI6IjE1MjAxZGU2LWY2MzktNDYwOS05N2QwLTNlNDczMmQ0ZDgyYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>