<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://mgm.play-freebies.com/4buWLKt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="http://mgm.play-freebies.com/4bXyA7n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-21-2025</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20250320_IG_hjkl_CM&fbclid=PAY2xjawJJwftleHRuA2FlbQIxMAABphC2QDk-R9ken78BLooq9Z_FNckCHagHTl2Awdj7FS7t5Du3bIA0p2nEUA_aem_zOf4w6j_3RoQyjByrNCdBg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://mgm.play-freebies.com/4bAAWcm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-20-2025</span>
    <a href="https://mgm.play-freebies.com/3XZvOZF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://mgm.play-freebies.com/43RhbeB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="http://mgm.play-freebies.com/4hhwLDF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-19-2025</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20250318_IG_asdas_CM&fbclid=PAY2xjawJHIMVleHRuA2FlbQIxMAABprrhxQVoe8k5-GtlmaDxpOvdOdADnddp14ebU_pCp8ahYH9dL27osRfDOg_aem_rpv1zn1lZ7hGKiQvvmnluw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="http://mgm.play-freebies.com/3XP1MYt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-18-2025</span>
    <a href="https://mgm.play-freebies.com/4iGZ1R0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="http://mgm.play-freebies.com/3DzpAZF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-17-2025</span>
    <a href="https://mgm.play-freebies.com/3R9NEFm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="http://mgm.play-freebies.com/3FripmV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-16-2025</span>
    <a href="https://mgm.play-freebies.com/4bPnscE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="http://mgm.play-freebies.com/4kCjQPl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://mgm.play-freebies.com/3QUI5us" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="https://mgm.play-freebies.com/4iy7ZzT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-15-2025</span>
    <a href="http://mgm.play-freebies.com/3DBkPyw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="http://mgm.play-freebies.com/3Xxuvkj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-14-2025</span>
    <a href="https://mgm.play-freebies.com/3FepI14" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="https://mgm.play-freebies.com/3Xxu7ST" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-13-2025</span>
    <a href="http://mgm.play-freebies.com/3DvgqgG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="http://mgm.play-freebies.com/41Qr0rP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-12-2025</span>
    <a href="https://mgm.play-freebies.com/3DtcqNC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://mgm.play-freebies.com/3DtwS0L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-11-2025</span>
    <a href="https://mgm.play-freebies.com/3XoH3dJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="http://mgm.play-freebies.com/3DwPvkq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-10-2025</span>
    <a href="https://mgm.play-freebies.com/41odYk5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-09-2025</span>
    <a href="http://mgm.play-freebies.com/3Fhe99e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-09-2025</span>
    <a href="https://mgm.play-freebies.com/4h4z5h2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://mgm.play-freebies.com/43lHrNZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://mgm.play-freebies.com/41JWBvt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://mgm.play-freebies.com/43qLp8l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://mgm.play-freebies.com/4ihWflH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://mgm.play-freebies.com/4h4LrFV?fbclid=PAZXh0bgNhZW0CMTEAAaakGnAdu8M3oOo8cPiVlJIa8tQqcL3CCkRWOW0bxr0ZRpz_44mR5z3jDeo_aem_7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://mgm.play-freebies.com/43gwtJK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://mgm.play-freebies.com/3DhrDkL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20240304_IG_zxxd_CM&fbclid=PAY2xjawI0v0FleHRuA2FlbQIxMAABpq4mpBkmCwjuuiGNNsUyI7IWv3GsszP9_liRoOTDjlF_QyvAN6Uw-mLB9A_aem_QM3AbZnyMKKs3xBR--WScg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://mgm.play-freebies.com/41ixMoS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://mgm.play-freebies.com/3XP5TUH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="http://mgm.play-freebies.com/41mJleW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-08-2025</span>
    <a href="https://mgm.play-freebies.com/4i9l6Il" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-03-2025</span>
    <a href="https://mgm.play-freebies.com/41e86Ka" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-03-2025</span>
    <a href="http://mgm.play-freebies.com/3EW0p3F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-01-2025</span>
    <a href="https://mgm.play-freebies.com/4baJNBa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 03-01-2025</span>
    <a href="https://mgm.play-freebies.com/43av1IK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="https://mgm.play-freebies.com/4iazyz5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="http://mgm.play-freebies.com/41siWNX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20250228_IG_asdas_CM&fbclid=PAY2xjawIuxmxleHRuA2FlbQIxMAABpgZIkGJJgPIxe0aFuplSACwCTG9p6RU_X7_E1P40Cb2CYGMWmhV2En6Okw_aem_Jgsu0kTLB3lS7Prr43Qwfg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="http://mgm.play-freebies.com/4hO0mFv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-28-2025</span>
    <a href="https://mgm.play-freebies.com/4id7Wcz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-27-2025</span>
    <a href="https://mgm.play-freebies.com/4k8UEjf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-27-2025</span>
    <a href="http://mgm.play-freebies.com/4gOM9qR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-26-2025</span>
    <a href="http://mgm.play-freebies.com/4hK7cMe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-26-2025</span>
    <a href="https://mgm.play-freebies.com/4b8UrZl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://mgm.play-freebies.com/4gOHhSx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-25-2025</span>
    <a href="https://mgm.play-freebies.com/42Zs3XD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="http://mgm.play-freebies.com/438Mstr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-24-2025</span>
    <a href="https://mgm.play-freebies.com/4hWKh0g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-23-2025</span>
    <a href="https://mgm.play-freebies.com/3XblOfp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-23-2025</span>
    <a href="https://mgm.play-freebies.com/43af5WO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-22-2025</span>
    <a href="https://mgm.play-freebies.com/430UpAA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-22-2025</span>
    <a href="https://mgm.play-freebies.com/3ETTYOp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-22-2025</span>
    <a href="https://mgm.play-freebies.com/3X9oIS5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-21-2025</span>
    <a href="https://mgm.play-freebies.com/417uQeA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-21-2025</span>
    <a href="https://mgm.play-freebies.com/4hUVDlg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-20-2025</span>
    <a href="http://mgm.play-freebies.com/40X9IaR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-20-2025</span>
    <a href="https://mgm.play-freebies.com/4i2gQtH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-19-2025</span>
    <a href="http://mgm.play-freebies.com/3EGuDYr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-19-2025</span>
    <a href="https://mgm.play-freebies.com/4hDKcyq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-18-2025</span>
    <a href="https://mgm.play-freebies.com/4gFSJzJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-18-2025</span>
    <a href="http://mgm.play-freebies.com/4k2io8w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-17-2025</span>
    <a href="https://mgm.play-freebies.com/4aVu7Sp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-17-2025</span>
    <a href="http://mgm.play-freebies.com/4b1COe4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-15-2025</span>
    <a href="https://mgm.play-freebies.com/3Qk3FbD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-15-2025</span>
    <a href="https://mgm.play-freebies.com/4gKRFdL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-15-2025</span>
    <a href="http://mgm.play-freebies.com/4hBOvdE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-15-2025</span>
    <a href="http://mgm.play-freebies.com/42XUjK3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-15-2025</span>
    <a href="https://mgm.play-freebies.com/41c30zb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-15-2025</span>
    <a href="https://mgm.play-freebies.com/40R9pOS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-15-2025</span>
    <a href="http://mgm.play-freebies.com/41e9bTk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-14-2025</span>
    <a href="http://mgm.play-freebies.com/3ExyMOi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-14-2025</span>
    <a href="https://mgm.play-freebies.com/4jUEtGk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-13-2025</span>
    <a href="http://mgm.play-freebies.com/3Eqkq20" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-13-2025</span>
    <a href="https://mgm.play-freebies.com/4hRxpbo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-12-2025</span>
    <a href="http://mgm.play-freebies.com/4hRHpS0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-12-2025</span>
    <a href="https://mgm.play-freebies.com/4gxNnX5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-11-2025</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20250211_IG_asuy_CM&fbclid=PAY2xjawIYD2ZleHRuA2FlbQIxMAABpvwPxGVnq5w12BxO4_OcqNSeTvZckXz4_UrkTWVhASehTZjt2q-qw8pBuA_aem_11E-K_H0gFqapg9Vz50v_w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-11-2025</span>
    <a href="https://mgm.play-freebies.com/42NngIw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-11-2025</span>
    <a href="https://mgm.play-freebies.com/4gz6tfH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-11-2025</span>
    <a href="https://mgm.play-freebies.com/42Nzb9q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-11-2025</span>
    <a href="https://mgm.play-freebies.com/4gucn1C" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-10-2025</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20250209_IG_eezy_CM&fbclid=PAY2xjawIWwC1leHRuA2FlbQIxMAABpv7xwHYT-I-zqU2-rF6werphL6JiVU0XZXacaoQosbJPwSQJrOEFqMD8vQ_aem_fbvirJeuW2vj3Y1gsqJZZA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-10-2025</span>
    <a href="http://mgm.play-freebies.com/3EuHJb8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-10-2025</span>
    <a href="https://mgm.play-freebies.com/3QgIfMh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-08-2025</span>
    <a href="https://mgm.play-freebies.com/42FqP3A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-08-2025</span>
    <a href="http://mgm.play-freebies.com/4jPHoA4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-08-2025</span>
    <a href="http://mgm.play-freebies.com/4httmCk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-08-2025</span>
    <a href="https://mgm.play-freebies.com/3Q6QmuY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips 02-07-2025</span>
    <a href="https://mgm.play-freebies.com/42Devkk" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>