<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743588265791_eoz9jr5w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743588612726_04z87xwl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743622200026_pxz5k096" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743440391386_n0ee5jwe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742827555828_dzpp77p7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 04-01-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743440087404_dzkkek3e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-31-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743409887571_dzkpo65e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-31-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743202800029_w45xmddg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-31-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743289200034_rw20dnly" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-31-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743363000031_w4lpjnoj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-31-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743375600060_pxzdo5mx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743276600033_rw2j4rxr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743082472253_2xm735lz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743082339151_ygde60rg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-30-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743289200057_ky0nyykj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743114194118_dzp7e8e3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743190200021_eoy2w763" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743192000121_dzpjkoo8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743202800068_pxer7d8p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743081885444_pxe7m6d7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-29-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743082019613_ozdl2280" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743087601704_ky08n6m5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743116400059_deg0m9no" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743103800024_7j68yjro" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743105600171_4m3jjgx4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743081196130_04wompem" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742980614070_w8m3npp3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743017400034_lm7e59rx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743003635830_w8mpy9p8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-27-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1743003748325_ygdpekop" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742903034159_3ryr22x9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742931000029_06pwdepy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742893037135_eoyorlro" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742893187152_rw2w56lm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742932800150_rw28xlok" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742758200025_lm7l8r8w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742469862120_yg2ekg72" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742470025127_onlw4nd2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742770800055_pxe9802k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742684400028_2gnooyxd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742684400090_2xkpdn3j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742598000066_dzrj7m0r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742671800031_5jg27d4d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742469616117_jzw4pepg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742469692528_onlw3454" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742684400056_5jg26d59" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742585400029_2gnepg4m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742469352196_2xk7dxwm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-24-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742469429794_w82y984g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742377080273_pxdn5zlz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742378982100_lmjy394y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742205835061_de574xnw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740582366313_4mx8ln5p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742326200028_onlp0rjr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742301620489_okng278w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742204299791_w82xjpz6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742204911403_oknpggl3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740582663380_065z49re" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742220000178_kyx5m9ky" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742252400060_82n24ge8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742239800031_kyxdzyy5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742166000039_7jpp03l8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742153400025_4mggl6pl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742166000065_w4kky0gd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741856717499_7jx94w8n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741856517478_dz05rnmg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742119477634_lmj5rprk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741856140444_3r5dz478" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741856205905_06em7400" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742079600060_w4k3z9do" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742067000031_5jgox5wo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742050800613_2gnzzdk6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741855829115_2gm69lk2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741993200093_deoj32kp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741993200057_2gmxx6om" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741964400350_3r5nwk48" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741980600032_06ez45g2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741855752522_w4p2leeo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741894200030_04px3y0x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741855383215_5jnkgre4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741855478732_onjgl3ng" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741906800056_ozp2jm5p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741647600083_lm5n44lk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741647600054_okm3jn2o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741619881069_lm527ml5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741619844211_ygjrw42d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741647600028_dz02wz4z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741635000031_ygjr08k7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741561200097_deoedw98" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741561200054_px9xdyl2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741551255623_3r5z8z0z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741551159020_82egln6j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741514892517_px9zg2yj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741548600028_06e7mnm3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741561200029_4mzmzlrn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741462200035_82enljop" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741474800051_w4p5pxmk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741425499750_px99gewy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740582599673_04ly57rm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741297529801_kykmgn9y" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>