<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742377080273_pxdn5zlz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742378982100_lmjy394y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742205835061_de574xnw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740582366313_4mx8ln5p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-19-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742326200028_onlp0rjr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742301620489_okng278w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742204299791_w82xjpz6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742204911403_oknpggl3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740582663380_065z49re" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742220000178_kyx5m9ky" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742252400060_82n24ge8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-18-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742239800031_kyxdzyy5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742166000039_7jpp03l8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742153400025_4mggl6pl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742166000065_w4kky0gd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741856717499_7jx94w8n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741856517478_dz05rnmg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-17-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742119477634_lmj5rprk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741856140444_3r5dz478" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741856205905_06em7400" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742079600060_w4k3z9do" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742067000031_5jgox5wo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1742050800613_2gnzzdk6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741855829115_2gm69lk2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741993200093_deoj32kp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741993200057_2gmxx6om" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741964400350_3r5nwk48" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741980600032_06ez45g2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741855752522_w4p2leeo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741894200030_04px3y0x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741855383215_5jnkgre4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741855478732_onjgl3ng" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741906800056_ozp2jm5p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741647600083_lm5n44lk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741647600054_okm3jn2o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741619881069_lm527ml5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741619844211_ygjrw42d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741647600028_dz02wz4z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-12-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741635000031_ygjr08k7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741561200097_deoedw98" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741561200054_px9xdyl2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741551255623_3r5z8z0z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741551159020_82egln6j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741514892517_px9zg2yj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741548600028_06e7mnm3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741561200029_4mzmzlrn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741462200035_82enljop" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741474800051_w4p5pxmk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741425499750_px99gewy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740582599673_04ly57rm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741297529801_kykmgn9y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741302000105_4m4630ew" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741255235884_5j5zxkn8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741302000067_3r3g6nrz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741254732237_dedzr2o5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741160181245_jzjd9338" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741184439399_828mkznp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741203000035_3r3xgxkj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740924523002_5j5d92lx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741204800252_eoe7g5y3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741118400173_5j5p6o8r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741116600032_828j06wo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741097621414_rwrk5x4x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741010708971_kykwyj73" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741011034947_ded2e9wp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741010410990_onoznwj9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741086973282_w4wjgep2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740993990912_ygyprej0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741042800068_w4wrlp9l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741042800029_w4wr7m69" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1741030200025_eoe9g5ek" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740956400086_w8w355o2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740956400060_5j5yjpn7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740923602842_oko3gldl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740923361541_jzjnymjr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740943800031_dzd4lz3o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740956400038_w4w97m8d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-02-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740857400031_w8w8k39w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-02-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740663021766_3r3wr00x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-02-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740663509227_dedx8486" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-02-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740870000056_kykyd6gd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-02-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740783600092_n0nyzm4z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-01-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740668847772_lml43w2l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-01-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1737990086356_w7zgxd53" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-01-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740771000033_onol4pdg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-01-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740783600057_7j76rm49" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740697200057_w4wwop83" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740697200083_ygyy3dem" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-01-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740662158272_w8wkd25g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740684900018_deddozlr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740662053850_onoe7930" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740661903472_onoepxwy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740685560025_okoom2r4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-27-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740584266657_3rwnxmr3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-27-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740583966523_824wxkey" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-27-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740562790794_ozn3rpdk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740410942506_rw9kk8yy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740499200153_ky2lzep2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740511800017_ky2jk5em" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-26-2025</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1740476303267_4mx2pnj2" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>