<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-21-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=BRDUYGNS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=BD7RJYYT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=POLPR2CK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-20-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=ALMLGKVY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-19-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=4J5HP87A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-19-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=SLMVKJEL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-18-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=3WM0GUFF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-18-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1U1NP6RT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-16-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=FQ6H3WOD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-16-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=4LGFLQSC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-15-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=218R4R9K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-14-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=NCMXLU28" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-14-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9JY4YCJQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-13-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Q53FGPBZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-13-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=IETVO7XH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-13-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=V6NELJFB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-12-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=H4I6LAW6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-12-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=6XH8SDUC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-11-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=HPXVGQJO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=DHJV2C3R" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=KRXX3W2U" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=SP4PY1G9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-09-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JDLZAWLE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-09-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=OS1PCCLC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=EVSF1J0B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Z82ZEE84" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=H75N5ZGA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=E05DGNMM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=URISBL5E" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=48DWHWZ7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=A15E0RN1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=EC219BVQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-03-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=XYT9NXRL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-03-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PUE5TYMD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-01-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1PCBNR6S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 03-01-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=2D78G843" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-28-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JWY2IMYC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-28-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=FVD8ZKQX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-27-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1WK9AXGP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-27-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=BEL9OQAX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-26-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=3FF61ZAT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-25-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=V2W4T6YZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=K446S2ZX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=SR1ILT7Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-24-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=O6B8GK5R" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-23-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=S6R3JO50" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-23-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=FIBZ41EX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-22-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=QPIE5JP8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-21-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=5M68B7JQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-21-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=4BGHO13O" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-21-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PVDRO7XT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-20-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=DNOG49MT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-20-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=7KCILXGC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-19-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=M7P4MIII" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-18-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9DY0RW9G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-17-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=DMI9CXNC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-17-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=5Z0R74QT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-17-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=T5X6V8GU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-16-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=W2BICAY0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-16-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=KQWWN3HY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-15-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=UATZO106" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-14-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=WOKR6MD7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-14-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=U3SDXTAL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-14-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JATDRP0P" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-13-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=RSZXPDPL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-13-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1ZFEWL2D" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-12-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=4SO3BHKF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-11-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=QZNYG8FW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-11-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=AOQ87DGA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=OIX7PV87" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=LR1SM5VQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=UHP6KNAY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-09-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=V70W8EXP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-08-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=4ZELUYF1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-07-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=4FGLF9VM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-07-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PHADUEGB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YXMV9F1O" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=145JG84P" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-05-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=QXQC6XQH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-04-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PCN7U2IZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-03-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=GSPMLE5P" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-03-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1NAUZQ39" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-02-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=C9NW0U31" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-02-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=WIF6C8KU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 02-01-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JB4MZM09" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-31-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PEWC9ME1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-31-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9WNJUB27" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-30-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=0WM8JLJF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-30-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=ZA0HK7MY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-28-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YD5D5T1F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-28-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=LEW1OD5A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-27-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=GM83FKGI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-27-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=NDQJAV2F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-26-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MNEIM056" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-25-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=XUVHQ442" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-25-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=0U1GI124" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-24-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Y2FPD1QK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-24-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9NEYHSM1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-22-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=KCX7XAZZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins 01-21-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=E3U9XKKI" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>