<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://zynga.social/0c0514" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-21-2025</span>
    <a href="https://zynga.social/eoeo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-16-2025</span>
    <a href="https://zynga.social/xlk5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://zynga.social/650e17" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-15-2025</span>
    <a href="https://zynga.social/6d4c26" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://zynga.social/99185e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-14-2025</span>
    <a href="https://zynga.social/9k1w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-11-2025</span>
    <a href="https://zynga.social/99c715" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://zynga.social/3gll" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-10-2025</span>
    <a href="https://zynga.social/7a4c9a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://zynga.social/37c120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-09-2025</span>
    <a href="https://zynga.social/6bf435" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://zynga.social/ccdf2d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://zynga.social/a3b87b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://zynga.social/aec576" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-08-2025</span>
    <a href="https://zynga.social/cef63c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-03-2025</span>
    <a href="https://zynga.social/523820" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 03-01-2025</span>
    <a href="https://zynga.social/4e4t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://zynga.social/e5mh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-28-2025</span>
    <a href="https://zynga.social/d8a0c4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-27-2025</span>
    <a href="https://zynga.social/d030d0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-26-2025</span>
    <a href="https://zynga.social/c5193d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-26-2025</span>
    <a href="https://zynga.social/v3y7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-25-2025</span>
    <a href="https://zynga.social/ea78d3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-25-2025</span>
    <a href="https://zynga.social/08829d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-24-2025</span>
    <a href="https://zynga.social/439720" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-22-2025</span>
    <a href="https://zynga.social/5feb0b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-21-2025</span>
    <a href="https://zynga.social/30dd36" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-21-2025</span>
    <a href="https://zynga.social/7b05c7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-20-2025</span>
    <a href="https://zynga.social/os0i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-20-2025</span>
    <a href="https://zynga.social/94c01b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-18-2025</span>
    <a href="https://zynga.social/e3ba13" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-18-2025</span>
    <a href="https://zynga.social/10bf9e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-17-2025</span>
    <a href="https://zynga.social/m7ah" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-16-2025</span>
    <a href="https://zynga.social/ac5291" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-16-2025</span>
    <a href="https://zynga.social/213adc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-15-2025</span>
    <a href="https://zynga.social/166f83" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-15-2025</span>
    <a href="https://zynga.social/d1fb89" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-14-2025</span>
    <a href="https://zynga.social/5zv5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-14-2025</span>
    <a href="https://zynga.social/24td" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-13-2025</span>
    <a href="https://zynga.social/74e87b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-13-2025</span>
    <a href="https://zynga.social/57c37c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-12-2025</span>
    <a href="https://zynga.social/w62t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-12-2025</span>
    <a href="https://zynga.social/sm8s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-11-2025</span>
    <a href="https://zynga.social/k17n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-10-2025</span>
    <a href="https://zynga.social/ffc4d8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-09-2025</span>
    <a href="https://zynga.social/0e382d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-09-2025</span>
    <a href="https://zynga.social/17167a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-08-2025</span>
    <a href="https://zynga.social/9db085" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-08-2025</span>
    <a href="https://zynga.social/zyr9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-07-2025</span>
    <a href="https://zynga.social/c93902" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-07-2025</span>
    <a href="https://zynga.social/1b2b76" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-06-2025</span>
    <a href="https://zynga.social/8qv5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-06-2025</span>
    <a href="https://zynga.social/i3ya" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-04-2025</span>
    <a href="https://zynga.social/2h0m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-05-2025</span>
    <a href="https://zynga.social/2936d4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-04-2025</span>
    <a href="https://zynga.social/9yl6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-03-2025</span>
    <a href="https://zynga.social/lwsf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-02-2025</span>
    <a href="https://zynga.social/zx0s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 02-01-2025</span>
    <a href="https://zynga.social/xtq5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-30-2025</span>
    <a href="https://zynga.social/e2d13e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-31-2025</span>
    <a href="https://zynga.social/lv43" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-30-2025</span>
    <a href="https://zynga.social/5t37" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-29-2025</span>
    <a href="https://zynga.social/g9vh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-29-2025</span>
    <a href="https://zynga.social/cb3989" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-28-2025</span>
    <a href="https://zynga.social/wjjo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-28-2025</span>
    <a href="https://zynga.social/4b374b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-27-2025</span>
    <a href="https://zynga.social/472151" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-27-2025</span>
    <a href="https://zynga.social/afc045" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-26-2025</span>
    <a href="https://zynga.social/6b11a6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-26-2025</span>
    <a href="https://zynga.social/7f4b2c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-25-2025</span>
    <a href="https://zynga.social/d68bf5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-25-2025</span>
    <a href="https://zynga.social/096124" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-24-2025</span>
    <a href="https://zynga.social/48ec87" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-24-2025</span>
    <a href="https://zynga.social/a6214f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-23-2025</span>
    <a href="https://zynga.social/3c5694" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-23-2025</span>
    <a href="https://zynga.social/37517d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-22-2025</span>
    <a href="https://zynga.social/677a17" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-22-2025</span>
    <a href="https://zynga.social/444290" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-21-2025</span>
    <a href="https://zynga.social/ea7c71" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-21-2025</span>
    <a href="https://zynga.social/2dd71e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-20-2025</span>
    <a href="https://zynga.social/cc430d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-20-2025</span>
    <a href="https://zynga.social/199418" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-19-2025</span>
    <a href="https://zynga.social/c41728" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-18-2025</span>
    <a href="https://zynga.social/c4a3ec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-18-2025</span>
    <a href="https://zynga.social/b9fb60" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-17-2025</span>
    <a href="https://zynga.social/n0fg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-17-2025</span>
    <a href="https://zynga.social/dabcf8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-16-2025</span>
    <a href="https://zynga.social/055a45" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-16-2025</span>
    <a href="https://zynga.social/96148d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-15-2025</span>
    <a href="https://zynga.social/540ebe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-15-2025</span>
    <a href="https://zynga.social/f712ec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-14-2025</span>
    <a href="https://zynga.social/7a7f3b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-14-2025</span>
    <a href="https://zynga.social/27062f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-13-2025</span>
    <a href="https://zynga.social/14dea9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-13-2025</span>
    <a href="https://zynga.social/6ab4b1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-12-2025</span>
    <a href="https://zynga.social/eed83b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-12-2025</span>
    <a href="https://zynga.social/e69706" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-11-2025</span>
    <a href="https://zynga.social/z7bj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins 01-11-2025</span>
    <a href="https://zynga.social/b3e87a" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>