---
layout: default
---

<div class="card shadow-sm mb-2">
  <div class="card-body">

    {% if page.title %}
    <!-- App Install Section -->
    <div class="d-flex align-items-center mb-3 p-2 border rounded" style="background-color: #f8f9fa;">
      <img src="{{ page.app_logo | default: '/assets/icons/icon-512x512.png' }}" alt="{{ page.title }} logo" class="mr-2" style="max-width: 40px;">
      <div class="flex-grow-1">
        <span class="font-weight-bold mb-0">{{ page.title }}</span>
      </div>
      <div class="ml-auto">
        <button id="install-button" class="btn btn-primary btn-sm">Install</button>
      </div>
    </div>
    {% endif %}

    <p class="card-subtitle text-muted mt-3 mb-3">
  By <strong>{{ page.author }}</strong> | 
  {% assign include_file = page.include_file | prepend: "_includes/" %}
  {% if site.data.include_files[page.include_file].last_modified %}
    Last updated: 
    <strong id="last-updated" data-last-modified="{{ site.data.include_files[page.include_file].last_modified | date: "%Y-%m-%dT%H:%M:%SZ" }}"></strong>
  {% else %}
    Last updated: <strong>{{ page.last_modified_at | date: "%B %d, %Y" }}</strong>
  {% endif %}
</p>

    <div class="card-text">{{ content }}</div>

{% if page.tags %}
  <div class="tags mt-3">
    <span class="badge badge-primary">Tags:</span>
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag | replace: ' ', '-' }}/" class="badge badge-secondary">{{ tag }}</a>
    {% endfor %}
  </div>
{% endif %}

    <div class="social-share mt-4">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="btn btn-primary mb-2 me-2">
        <i class="bi bi-facebook"></i> Share on Facebook
      </a>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank" class="btn btn-info mb-2 me-2">
        <i class="bi bi-twitter"></i> Tweet
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" class="btn btn-primary mb-2 me-2">
        <i class="bi bi-linkedin"></i> Share on LinkedIn
      </a>
      <a href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" class="btn btn-danger mb-2 me-2">
        <i class="bi bi-reddit"></i> Share on Reddit
      </a>
      <a href="https://api.whatsapp.com/send?text={{ page.title }} {{ site.url }}{{ page.url }}" target="_blank" class="btn btn-success mb-3 me-2">
        <i class="bi bi-whatsapp"></i> Share on WhatsApp
      </a>
    </div>

    <!-- Search Section -->
    <h2>All Games</h2>
    <div class="container mt-4">
      <div class="input-group">
        <input type="search" id="search-input" class="form-control" placeholder="Search for Games..." aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="search-button">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div id="results-container" class="mt-4"></div>
    </div>
    <script>
      const searchInput = document.getElementById('search-input');
      const resultsContainer = document.getElementById('results-container');
      const searchButton = document.getElementById('search-button');

      function performSearch(query) {
        fetch('{{ site.baseurl }}/search.json')
          .then(response => response.json())
          .then(data => {
            const results = data.filter(post => post.content.includes(query));
            resultsContainer.innerHTML = results.length > 0
              ? results.map(result => `<div><a href="${result.url}">${result.title}</a></div>`).join('')
              : 'No results found';
          });
      }

      searchButton.addEventListener('click', () => {
        const query = searchInput.value.trim();
        if (query) performSearch(query);
      });

      searchInput.addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
          const query = searchInput.value.trim();
          if (query) performSearch(query);
        }
      });
    </script>

    <!-- All Posts List -->
    <ul class="list-group fixed-height-scroll">
      {% assign sorted_posts = site.posts | sort: 'title' %}
      {% for post in sorted_posts %}
        <li class="list-group-item">
          <img src="{{ post.image }}" alt="{{ post.title }}" class="list-group-item-image"/>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <!-- Install Button Logic -->
    <script>
      let deferredPrompt;
      const installButton = document.getElementById('install-button');
      installButton.style.display = 'none'; // Initially hide the button

      window.addEventListener('beforeinstallprompt', (e) => {
        e.preventDefault();
        deferredPrompt = e;
        installButton.style.display = 'block'; // Show the button

        installButton.addEventListener('click', () => {
          deferredPrompt.prompt();
          deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
              console.log('User accepted the A2HS prompt');
            } else {
              console.log('User dismissed the A2HS prompt');
            }
            deferredPrompt = null;
          });
        });
      });

      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ site.baseurl }}/assets/sw.js')
        .then(registration => {
          console.log('Service Worker registered with scope:', registration.scope);
        })
        .catch(error => {
          console.log('Service Worker registration failed:', error);
        });
      }
    </script>

  </div>
</div>